<!-- User navbar -->
<%-include("../adminpartials/admin_navbar.ejs")%>

    <head>
        <style>
            /*======> Very small devices <======*/
            @media (max-width: 576px) {
                .product-text span {
                    font-size: 12px;
                }

                .add-to-cart-btn {
                    width: 5rem;
                    font-size: 12px;
                }

                .delete-btn {
                    font-size: 12px;
                }

                .product-img {
                    width: 90%;
                }
            }

            /*======> XS/SM devices <======*/
            @media (min-width: 576px) and (max-width: 767px) {
                .product-text span {
                    font-size: 14px;
                }
                .product-img {
                    width: 90%;
                }
            }

            /*======> MD devices <======*/
            @media (min-width: 768px) and (max-width: 991px) {
                .product-img {
                    width: 90%;
                }
            }

            /*======> LG devices <======*/
            @media (min-width: 992px) and (max-width: 1199px) {
                .product-img {
                    width: 70%;
                }
            }


            /*======> XL devices <======*/
            @media (min-width: 1200px) {
                .product-img {
                    width: 80%;
                }
            }

            .font-semibold{
                font-weight: 600;
            }

            .heads{
                font-weight: 500;
            }
        </style>
    </head>
    <section class="view">
        <!-- Table wishlist for mediuam and above screen start -->
        <div class="orderDetail-wrap mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="head d-flex justify-content-between align-items-center">
                            <h1>Order details</h1>
                            <button type="button" class="btn btn-outline-success" id="backToOrder">Back</button>
                        </div>
                        <hr>
                    </div>
                </div>
                <% if(order !== "" && order.length > 0){ %>
                <div class="row justify-content-center mb-3">
                    <div class="col-10 shadow orderDetail">
                            <% for(let i = 0; i < order.length; i++){ %>
                                <div class="details d-flex flex-column mt-3 p-3 border">
                                    <span class="product-price "><span class="heads">Order id :</span> <%= order[i]._id.toString().slice(-6)  %></span>
                                    <span class="product-price "><span class="heads">Order date :</span> <%= order[i].orderDate.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' })  %></span>
                                    <%
                                        const orderDate = new Date(order[i].orderDate);
                                        orderDate.setDate(orderDate.getDate() + 4);
                                        const deliveryDate = orderDate.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' });
                                    %>
                                    <span class="product-price "><span class="heads">Expected delivery date : </span> <%= deliveryDate  %></span>
                                    <span class="product-price "><span class="heads">Order total : ₹</span> <%= order[i].orderTotal  %></span>
                                    <span class="product-name"><span class="heads">Order status : </span><%= order[i].status %></span>
                                    <span class="product-name"><span class="heads">Status date : </span><%= order[i].statusDate.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></span>
                                </div>
                                <div class="item-wrap-border border mt-3">
                                    <% if(order[i].orderedItems.length ===  1){ %>
                                        <div class="item-wrap-head mt-2 p-3">
                                            <h5>Item</h5>
                                            <hr>
                                        </div>
                                    <% }else{ %>
                                        <div class="item-wrap-head mt-2 p-3">
                                            <h5>Items</h5>
                                            <hr>
                                        </div>
                                    <% } %>
                                    <% for(let j = 0; j < order[i].orderedItems.length; j++){ %>
                                        <div class="items-wrap d-md-flex p-3">
                                            <div class="item-img col-md-4">
                                                <span class="heads mx-3">Shipment <%= j+1 %> of <%= order[i].orderedItems.length %></span>
                                                    <img src="/static/images/ProductImages/<%= order[i].orderedItems[j].product.images[0] %>"
                                                    alt="image loading" class="product-img shadow mt-2">
                                            </div>
                                            <div class="item-details col-md-4 d-flex flex-column align-item-center justify-content-center mt-3 mt-md-0">
                                                <span class="product-brand"><span class="heads">Brand : </span><%= order[i].orderedItems[j].product.brand.name %></span>
                                                <span class="product-name"><span class="heads">Model : </span><%= order[i].orderedItems[j].product.name %></span>
                                                <span class="product-name"><span class="heads">Description : </span><%= order[i].orderedItems[j].product.description %></span>
                                            </div>
                                            <div class="item-details col-md-4 d-flex flex-column align-item-center justify-content-center">
                                                <span class="product-name"><span class="heads">Category : </span><%= order[i].orderedItems[j].product.category.name %></span>
                                                <span class="product-name"><span class="heads">Black : </span><%= order[i].orderedItems[j].product.colour %></span>
                                                <span class="product-name"><span class="heads">Price : ₹ </span><%= order[i].orderedItems[j].product.offerPrice %></span>
                                                <span class="product-name"><span class="heads">Quantity : </span><%= order[i].orderedItems[j].quantity %></span>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="order-paymentandAddress d-md-flex">
                                    <div class="order-payment mt-3 col-md-5">
                                        <div class="order-payment-head p-3 border">
                                            <h5>Payment information</h5>
                                            <hr>
                                            <span class="product-name"><span class="heads">Payment method <br></span>
                                                <% if(order[i].paymentMethod === "cod"){ %>
                                                    Cash on delivery
                                                <% }else if(order[i].paymentMethod === "razorpay"){ %>
                                                    Razorpay
                                                <% }else if(order[i].paymentMethod === "wallet"){ %>
                                                    Wallet
                                                <% } %>
                                            </span>
                                            <br>
                                            <br>
                                            <span class="heads">Payment status</span><br>
                                            <% if(order[i].paymentStatus === false){ %>
                                                <Span class="text-danger">Payment not completed.</Span>
                                            <% }else if(order[i].paymentStatus === true){ %>
                                                <span class="text-success">Payment completed <i class="fa-solid fa-circle-check" style="color: #29a33d;"></i></span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="gap col-1">
                                    </div>
                                    <div class="order-payment mt-3 col-md-6 mx-auto">
                                        <div class="order-payment-head p-3 border">
                                            <h5>Shipping & billing address</h5>
                                            <hr>
                                            <span class="product-name"><span class="heads"><%= order[i].address.name  %> <br></span>
                                               <%= order[i].address.addressLine %> <br>
                                               <%= order[i].address.city %>, <%= order[i].address.district %> <br>
                                               <%= order[i].address.state %>, <%= order[i].address.pincode %> <br>
                                               phone : <%= order[i].address.phone %>, <%= order[i].address.country %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-total mt-md-3 mt-0 mb-3 p-3">
                                    <hr>
                                    <h5>Order total</h5>
                                    <hr>
                                    <div class="col-md-3">
                                        <div class="total d-flex justify-content-between">
                                            <h6>Items total : </h6> <h6>₹<%= order[i].orderTotal %> </h6>
                                        </div>
                                        <div class="total d-flex justify-content-between">
                                            <h6>Delivery : </h6> <h6 class="text-success">Free</h6>
                                        </div>
                                        <% if(order[i].couponApplied){ %>
                                            <div class="total d-flex justify-content-between">
                                                <h6>Coupon : </h6> <h6 class="text-success">Applied</h6>
                                            </div>
                                        <% } %>
                                        <hr>
                                        <div class="total d-flex justify-content-between">
                                            <h5 class="text-danger">Order total : </h5> <h5 class="text-danger">₹<%= order[i].orderTotal %> </h5>
                                        </div> 
                                    </div>
                                    <hr>
                                </div>
                            <% } %>
                        </div>   
                    </div>
                    <% }else{ %>
                        <div class="alert alert-info text-center" role="alert">No Orders found in the database.</div>
                <% } %>
            </div>
        </div>
        
    </section>

    <!--  Script for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.getElementById('backToOrder').addEventListener("click",function(){
            window.location.href = '/admin/orders'
        })

    </script>

    <!-- User footer -->
    <%-include("../adminpartials/admin_footer.ejs")%>