<!-- Admin header -->
<%-include("../adminpartials/admin_navbar.ejs")%>

<section class="view">
    <div class="container mt-5 ">

        <div class="row">
            <div class="head col-md-10 offset-md-1 d-flex justify-content-between align-items-center">
                <h1>Products</h1>
                <button type="button" class="btn btn-outline-success btn-sm" id="addProduct">Add new product</button>
            </div>
            <hr>
        </div>
        
        <div class="row d-flex flex-row align-items-center justify-content-center">
            <div class="table-responsive col-lg-10">
                <table class="table text-center table-striped my-4 p-1">
                    <thead>
                        <tr class="table-dark">
                            <th class="text-center text-light">ID</th>
                            <th class="text-center text-light">Name</th>
                            <th class="text-center text-light">Brand</th>
                            <th class="text-center text-light">Category</th>
                            <th class="text-center text-light">Real Price</th>
                            <th class="text-center text-light">Off Price</th>
                            <th class="text-center text-light">Stock</th>
                            <th class="text-center text-light">Controls</th>
                            <th class="text-center text-light">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(productData && Array.isArray(productData)){  %>
                            <% productData.forEach((product,index)=> {%>
                                <tr class="align-middle">
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= product.name%>
                                    </td>
                                    <td>
                                        <%= product.brand.name %>
                                    </td>
                                    <td>
                                        <%= product.category.name %>
                                    </td>
                                    <td>
                                        <%= product.realPrice %>
                                    </td>
                                    <td>
                                        <%= product.offerPrice %>
                                    </td>
                                    <td>
                                        <%= product.noOfStock %>
                                    </td>
                                    <td>
                                        <input type="radio" class="prod-switch" data-product-id="<%= product._id %>" id="block_<%= product._id %>" name="block<%= product._id %>" value="block" <% if(product.isBlocked) { %>checked<% } %>>
                                        <label for="block_<%= product._id %>" class="text-danger">Block</label>
                                        <input type="radio" class="prod-switch" data-product-id="<%= product._id %>" id="unblock_<%= product._id %>" name="block<%= product._id %>" value="unblock" <% if(!product.isBlocked) { %>checked<% } %>>
                                        <label for="unblock_<%= product._id %>" class="text-success">Unblock</label>                
                                    </td>
                                    <td>
                                        <a href="/admin/editProduct<%= product._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
        
    </div>
</section>

<!-- Script for the sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    ////// function to block or unblock product \\\\\\
    document.querySelectorAll('.prod-switch').forEach(function(userSwitch) {
        userSwitch.addEventListener('change', function () {
            var productId = this.dataset.productId;
            var blockStatus = this.value;

            Swal.fire({
                title: 'Confirmation',
                text: 'Are you sure you want to change the block status?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/blockProduct${productId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ blockStatus: blockStatus })
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to update product block status.');
                        }
                    })
                    .then(data => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Product block status has been updated.',
                            showConfirmButton: true,
                            confirmButtonText: "Ok"
                        })
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: error.message,
                            timer: 3000,
                            timerProgressBar: true,
                            showConfirmButton: false
                        });
                    });
                } else {
                    location.reload();
                }
            });
        });
    });

    ////// Redirection of add product button \\\\\\
    var addButton = document.getElementById('addProduct');
        addButton.addEventListener('click', function() {
        window.location.href = 'adminAddProduct';
    });

    ////// Check if the URL contains a success message \\\\\\
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');

    ////// If a success message is present, show it using SweetAlert \\\\\\
    if (successMessage) {
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: successMessage,
        });
    }
        
    ////// Script for the data table \\\\\\
    $(document).ready(function(){
        $("table").DataTable({
            order : [0, 'desc']
        })
    })

    </script>
    
    <!-- Admin footer -->
    <%-include("../adminpartials/admin_footer.ejs")%>