<!-- Admin navbar -->
<%-include("../adminpartials/admin_navbar.ejs")%>

<head>
    <!-- Css for the admin data edit form -->
    <link rel="stylesheet" href='/static/css/admin_dataEdit.css' type="text/css">
    <!-- Custom css -->
    <style>
        input[type="file"]{
            display: none;
        }

        .file-label{
            display: block;
            position: relative;
            color: white;
            font-size: 18px;
            text-align: center;
            padding: 12px 0;
            margin: auto;
            border-radius: 5px;
            cursor: pointer;
        }

        .num-of-files{
            text-align: center;
            margin: 20px 0 30px 0;
        }

        #images{
            position: relative;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 20px;
            flex-wrap: wrap;
        }

        figure{
            width: 25%;
        }
        
        img{
            width: 100%;
        }
        figcaption{
            text-align: center;
            font-size: 13px;
            margin-top: 3px;
        }

    </style>
</head>

<body>
    <section class="view">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="main col-12 col-lg-10 m-3 mt-5">
                <form action="/admin/addProduct" method="POST" enctype="multipart/form-data">
                    <div class="p-5">
                        <h4 class=" fs-3 mb-4" style="color: #0f1923;">Add new product</h4>
                        <div class="input-box d-md-flex">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="productName" class="form-label">Product name</label>
                                    <input type="text" class="form-control" name="productName" id="productName" value="" required>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productBrand" class="form-label">Product Brand</label>
                                    <select class="form-select" name="productBrand" id="productBrand" required>    
                                        <% brands.forEach(brand => { %>
                                            <option value="<%= brand._id %>">
                                                <%= brand.name%>
                                            </option>
                                           <% }) %> 
                                    </select>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productCategory" class="form-label">Product category</label>
                                    <select class="form-select" name="productCategory" id="productCategory" required>    
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>">
                                                <%= category.name%>
                                            </option>
                                           <% }) %> 
                                    </select>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productDescription" class="form-label">Product description</label>
                                    <textarea class="form-control" name="productDescription" id="productDescription" rows="3" required></textarea>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productColour" class="form-label">Product colour</label>
                                    <input type="text" class="form-control" name="productColour" id="productColour" value="" required>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productStock" class="form-label">Product Stock</label>
                                    <input type="number" class="form-control" name="productStock" id="productStock" value="" required>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productRealPrice" class="form-label">Product real price</label>
                                    <input type="number" class="form-control" name="productRealPrice" id="productRealPrice" value="" required>
                                </div>
                                <div class="mt-5 d-md-block d-none">
                                    <button type="" class="btn btn-warning" onclick="goBack()">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Add Product</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="productfferPrice" class="form-label">Product offer price</label>
                                    <input type="number" class="form-control" name="productOfferPrice" id="productOfferPrice" value="" required>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productDiscountPercentage" class="form-label">Product discount percentage</label>
                                    <input type="number" class="form-control" name="productDiscountPercentage" id="productDiscountPercentage" value="" required>
                                </div>
                                <div class="my-5 col-md-10">
                                    <input type="file" id="file-input" name="productImages" accept="image/png, image/jpeg" onchange="preview()" multiple>
                                    <label for="file-input" class="file-label bg-primary">
                                        <i class="fas fa-upload"></i> &nbsp; Select images
                                    </label>
                                    <p id="num-of-files" class="num-of-files">No Files Chosen</p>
                                    <div id="images"></div>
                                </div>
                            </div>
                            <div class="mt-4 d-block d-md-none">
                                <button type="" class="btn btn-warning" onclick="goBack()">Cancel</button>
                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </section>

    <% if (productAdded) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Product added successfully!',
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                window.location.href = '/admin/adminAddProduct';
            });
        </script>
    <% } else if (productExists) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            Swal.fire("Error", "Product already exists!", "error");
        </script>
    <% } else if (error) { %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            Swal.fire("Error", "<%= error %>", "error");
        </script>
    <% } %>
    

    <!-- Script for the viewing of selected image -->
    <script>
        // To display the selected image in the preview
        let fileInput = document.getElementById('file-input');
        let imageContainer = document.getElementById('images');
        let numOfFiles = document.getElementById('num-of-files');
        let maxImages = 5;


        function preview(){
            imageContainer.innerHTML = "";
            let selectedFiles = fileInput.files;

            if (selectedFiles.length > maxImages) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: `You can only select up to ${maxImages} images.`,
                });
                fileInput.value = "";
                numOfFiles.textContent = "No files chosen";
                return;
            }

            numOfFiles.textContent = `${fileInput.files.length} Files selected`;

            for(i of fileInput.files){
                let reader = new FileReader();
                let figure = document.createElement("figure");
                let figCap = document.createElement("figcaption");
                figCap.innerText = i.name;
                figure.appendChild(figCap);
                reader.onload=()=>{
                    let img = document.createElement("img");
                    img.setAttribute("src",reader.result);
                    figure.insertBefore(img,figCap);
                }
                imageContainer.appendChild(figure);
                reader.readAsDataURL(i);
            }
        }

       //Cancel button goBack function
       function goBack() {
        window.location.href = '/admin/products'
        }
    </script>

<!-- Admin foter -->
<%-include("../adminpartials/admin_footer.ejs")%>