<!-- Admin navbar -->
<%-include("../adminpartials/admin_navbar.ejs")%>

    <head>
        <!-- Css for the admin data edit form -->
        <link rel="stylesheet" href='/static/css/admin_dataEdit.css' type="text/css">
    </head>

    <body>
        <section class="view">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="main col-12 col-lg-10">
                    <form action="/admin/updateCoupon/<%= coupon._id %>" method="POST">
                        <div class="p-5">
                            <div class="input-box d-md-flex">
                                <div class="col-12 col-md-8">
                                    <h4 class=" fs-3 mb-4" style="color: #0f1923;">Edit Coupon</h4>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponName" class="form-label">Coupon Name</label>
                                        <input type="text" class="form-control" name="couponName" id="couponName"
                                            value="<%= coupon.couponName %>" required oninput="checkName()">
                                            <span id="nameError" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponCode" class="form-label">Coupon Code</label>
                                        <input type="text" class="form-control" name="couponCode" id="couponCode"
                                            value="<%= coupon.couponCode %>" required oninput="checkCode()">
                                            <span id="codeError" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponStartDate" class="form-label">Coupon start date (current date
                                            <%= coupon.startDate.toLocaleDateString() %>)
                                        </label>
                                        <input type="date" class="form-control" name="couponStartDate"
                                            id="couponStartDate" value="">
                                    </div>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponEndDate" class="form-label">Coupon end date (current date <%=
                                                coupon.endDate.toLocaleDateString() %>)</label>
                                        <input type="date" class="form-control" name="couponEndDate" id="couponEndDate"
                                            value="">
                                    </div>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponMinAmount" class="form-label">Minimum order amount</label>
                                        <input type="text" class="form-control" name="couponMinAmount" id="couponMinAmount"
                                            value="<%= coupon.minAmount %>" oninput="checkMinAmount()">
                                            <span id="minAmountError" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3 col-lg-10">
                                        <label for="couponAmount" class="form-label">Amount / percentage</label>
                                        <input type="text" class="form-control" name="couponAmount" id="couponAmount"
                                            value="<%= coupon.couponAmount %>" required oninput="checkAmount()">
                                            <span id="amountError" class="text-danger"></span>
                                    </div>
                                    <input type="text" value="<%= coupon._id %>" name="couponId" id="couponId" hidden>
                                    <div class="mt-4 d-md-block d-none">
                                        <button type="" class="btn btn-warning" onclick="goBack(event)">Cancel</button>
                                        <button id="updateCoupon" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <div class="mt-4 d-block d-md-none">
                                    <button type="" class="btn btn-warning" onclick="goBack(event)">Cancel</button>
                                    <button id="updateCoupon" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Script for sweet alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <script>

            ////// To check the coupon code \\\\\\
        function checkCode() {
            const codeInput = document.getElementById('couponCode');
            const couponCode = codeInput.value.trim();
            const codeError = document.getElementById('codeError');

            const codePattern = /^[A-Z0-9]+$/;

            if (couponCode === "") {
                codeInput.classList.remove('is-invalid');
                codeError.textContent = '';
                return false;
            }
            if (!codePattern.test(couponCode)) {
                codeInput.classList.add('is-invalid');
                codeError.textContent = 'Code must contain uppercase and numbers.';
                return false;
            } else if (couponCode.length < 5 || couponCode.length > 10) {
                codeInput.classList.add('is-invalid');
                codeError.textContent = 'Code must be between 5 and 10 characters long';
                return false;
            } else {
                codeInput.classList.remove('is-invalid');
                codeError.textContent = '';
                return true;
            }
        }

        ////// To check the coupon name \\\\\\
        function checkName() {
            const nameInput = document.getElementById('couponName');
            const couponName = nameInput.value.trim();
            const nameError = document.getElementById('nameError');

            const namePattern = /^[A-Za-z\s]+$/;

            if (couponName === "") {
                nameInput.classList.remove('is-invalid');
                nameError.textContent = '';
                return false;
            }
            if (!namePattern.test(couponName)) {
                nameInput.classList.add('is-invalid');
                nameError.textContent = 'Name must contain alphabets.';
                return false;
            } else if (couponName.length < 5 || couponName.length > 15) {
                nameInput.classList.add('is-invalid');
                nameError.textContent = 'Code must be between 5 and 15 characters long';
                return false;
            } else {
                nameInput.classList.remove('is-invalid');
                nameError.textContent = '';
                return true;
            }
        }

        ////// To check the coupon minimum order amount \\\\\\
        function checkMinAmount() {
            const couponMinAmountInput = document.getElementById('couponMinAmount');
            const couponMinAmount = couponMinAmountInput.value.trim();
            const minAmountError = document.getElementById('minAmountError');

            const minAmountPattern = /^[1-9]\d*$/;

            if (couponMinAmount === "") {
                couponMinAmountInput.classList.remove('is-invalid');
                minAmountError.textContent = '';
                return false;
            }
            if (!minAmountPattern.test(couponMinAmount)) {
                couponMinAmountInput.classList.add('is-invalid');
                minAmountError.textContent = 'Amount must contain positive numbers.';
                return false;
            } else if (couponMinAmount < 100 || couponMinAmount > 50000) {
                couponMinAmountInput.classList.add('is-invalid');
                minAmountError.textContent = 'Amount must be between 100 and 50000.';
                return false;
            } else {
                couponMinAmountInput.classList.remove('is-invalid');
                minAmountError.textContent = '';
                return true;
            }
        }

        ////// To check the coupon amount / percentage \\\\\\
        function checkAmount() {
            const couponAmountInput = document.getElementById('couponAmount');
            const couponAmount = couponAmountInput.value.trim();
            const amountError = document.getElementById('amountError');

            const amountPattern = /^[1-9]\d*$/;

            if (couponAmount === "") {
                couponAmountInput.classList.remove('is-invalid');
                amountError.textContent = '';
                return false;
            }
            if (!amountPattern.test(couponAmount)) {
                couponAmountInput.classList.add('is-invalid');
                amountError.textContent = 'Amount must contain positive numbers.';
                return false;
            } else if (couponAmount < 1 || couponAmount > 5000) {
                couponAmountInput.classList.add('is-invalid');
                amountError.textContent = 'Amount must be between 1 and 5000.';
                return false;
            } else {
                couponAmountInput.classList.remove('is-invalid');
                amountError.textContent = '';
                return true;
            }
        }
            ////// To update the coupon \\\\\\
            document.getElementById('updateCoupon').addEventListener("click", async function (event) {
                event.preventDefault(); 

                const form = document.querySelector('form');
                const couponId = document.getElementById("couponId").value;
                const couponName = document.getElementById("couponName").value;
                const couponCode = document.getElementById("couponCode").value;
                const couponStartDate = document.getElementById("couponStartDate").value;
                const couponEndDate = document.getElementById('couponEndDate').value;
                const couponMinAmount = document.getElementById('couponMinAmount').value
                const couponAmount = document.getElementById('couponAmount').value;

                const couponBody = {
                    couponId,
                    couponName,
                    couponCode,
                    couponStartDate,
                    couponEndDate,
                    couponMinAmount,
                    couponAmount
                };

                if( !checkCode() || !checkName() || !checkMinAmount() || !checkAmount()){
                    Swal.fire({
                            icon: 'Erro',
                            title: 'Error in input field!',
                        })
                    return false;
                }

                console.log(couponBody);

                try {
                    const response = await fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(couponBody)
                    });

                    const data = await response.json();

                    if (response.ok) {
                        Swal.fire("Success!",
                            data.message,
                            "success"
                        ).then(() => {
                            window.location.href = '/admin/coupons';
                        });
                    } else {
                        Swal.fire("Error!",
                            data.message, 
                            "error"
                        )
                    }
                } catch (error) {
                    console.error('Error:', error);
                    Swal.fire("Error!",
                        "An error occurred while processing your request.", "error"
                    );
                }
            });



            ////// Cancel button goBack function \\\\\\
            function goBack(event) {
                event.preventDefault()
                window.location.href = '/admin/coupons'
            }
            
        </script>

        <!-- Admin footer -->
        <%-include("../adminpartials/admin_footer.ejs")%>