<!-- Admin navbar -->
<%-include("../adminpartials/admin_navbar.ejs")%>

<head>
    <!-- Css for the admin data edit form -->
    <link rel="stylesheet" href='/static/css/admin_edit_product.css' type="text/css">

    <!-- cropper js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
</head>

<body>
    <section class="view">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="main col-12 col-lg-10 m-3 mt-5">
                <form action="/admin/updateProduct/<%= product._id %>" enctype="multipart/form-data" id="updateProductForm">
                    <div class="p-5">
                        <h4 class=" fs-3 mb-4" style="color: #0f1923;">Edit product</h4>
                        <div class="input-box d-md-flex">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="productName" class="form-label">Product name</label>
                                    <input type="text" class="form-control" name="productName" id="productName" value="<%= product.name %>" required oninput="validateProductName()">
                                    <span id="productNameError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productBrand" class="form-label">Product brand</label>
                                    <select class="form-select" name="productBrand" id="productBrand" required>    
                                        <% brands.forEach(brand => { %>
                                            <option value="<%= brand._id %>" <%= brand._id.toString() === product.brand.toString() ? 'selected' : "" %>>
                                                <%= brand.name %>
                                            </option>
                                        <% }) %> 
                                    </select>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productCategory" class="form-label">Product category</label>
                                    <select class="form-select" name="productCategory" id="productCategory" required>    
                                        <% categories.forEach(category => { %>
                                            <option value="<%= category._id %>" <%= category._id.toString() === product.category.toString() ? 'selected' : "" %>>
                                                <%= category.name %>
                                            </option>
                                        <% }) %> 
                                    </select>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productDescription" class="form-label">Product description</label>
                                    <textarea class="form-control" name="productDescription" id="productDescription" rows="5"  required oninput="validateDesc()" style="resize : vertical"><%= product.description %></textarea>
                                    <span id="productDescError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productColour" class="form-label">Product colour</label>
                                    <input type="text" class="form-control" name="productColour" id="productColour" value="<%= product.colour %>" required oninput="validateColor()">
                                    <span id="productColorError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productStock" class="form-label">Product Stock</label>
                                    <input type="number" class="form-control" name="productStock" id="productStock" value="<%= product.noOfStock %>" required oninput="validateStock()">
                                    <span id="productStockError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productRealPrice" class="form-label">Product real price</label>
                                    <input type="number" class="form-control" name="productRealPrice" id="productRealPrice" value="<%= product.realPrice %>" required oninput="validateRealPrice()">
                                    <span id="productRealPriceError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productfferPrice" class="form-label">Product offer price</label>
                                    <input type="number" class="form-control" name="productOfferPrice" id="productOfferPrice" value="<%= product.offerPrice %>" required oninput="validateOfferPrice()">
                                    <span id="productOfferPriceError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productDiscountPercentage" class="form-label">Product discount percentage</label>
                                    <input type="number" class="form-control" name="productDiscountPercentage" id="productDiscountPercentage" value="<%= product.discountPercentage %>" required oninput="validateDiscount()">
                                    <span id="productDiscountError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productScreenSize" class="form-label">Product screen size</label>
                                    <select class="form-control" name="productScreenSize" id="productScreenSize" required oninput="validateScreenSize()">
                                        <option value="" <%= !product.screenSize ? "selected" : "" %>><%= product.screenSize || "Select screen size" %></option>
                                        <option value="11.6" <%= product.screenSize === "11.6" ? "selected" : "" %>>11.6 inches</option>
                                        <option value="12.5" <%= product.screenSize === "12.5" ? "selected" : "" %>>12.5 inches</option>
                                        <option value="13.3" <%= product.screenSize === "13.3" ? "selected" : "" %>>13.3 inches</option>
                                        <option value="14" <%= product.screenSize === "14" ? "selected" : "" %>>14 inches</option>
                                        <option value="15.6" <%= product.screenSize === "15.6" ? "selected" : "" %>>15.6 inches</option>
                                        <option value="16" <%= product.screenSize === "16" ? "selected" : "" %>>16 inches</option>
                                        <option value="17.3" <%= product.screenSize === "17.3" ? "selected" : "" %>>17.3 inches</option>
                                    </select>
                                    <span id="productScreenSizeError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productHardDiscSize" class="form-label">Product hard disc size</label>
                                    <select class="form-control" name="productHardDiscSize" id="productHardDiscSize" required oninput="validateHardDiscSize()">
                                        <option value="" <%= !product.hdSize ? "selected" : "" %>><%= product.hdSize || "Select hard disc size" %></option>
                                        <option value="128GB" <%= product.hdSize === "128GB" ? "selected" : "" %>>128GB</option>
                                        <option value="256GB" <%= product.hdSize === "256GB" ? "selected" : "" %>>256GB</option>
                                        <option value="512GB" <%= product.hdSize === "512GB" ? "selected" : "" %>>512GB</option>
                                        <option value="1TB" <%= product.hdSize === "1TB" ? "selected" : "" %>>1TB</option>
                                        <option value="2TB" <%= product.hdSize === "2TB" ? "selected" : "" %>>2TB</option>
                                        <option value="4TB" <%= product.hdSize === "4TB" ? "selected" : "" %>>4TB</option>
                                    </select>
                                    <span id="productHardDiscSizeError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productCpuModel" class="form-label">Product CPU model</label>
                                    <select class="form-control" name="productCpuModel" id="productCpuModel" required oninput="validateCpuModel()">
                                        <option value="" <%= !product.cpuModel ? "selected" : "" %>><%= product.cpuModel || "Select CPU model" %></option>
                                        <option value="Intel Core i3" <%= product.cpuModel === "Intel Core i3" ? "selected" : "" %>>Intel Core i3</option>
                                        <option value="Intel Core i5" <%= product.cpuModel === "Intel Core i5" ? "selected" : "" %>>Intel Core i5</option>
                                        <option value="Intel Core i7" <%= product.cpuModel === "Intel Core i7" ? "selected" : "" %>>Intel Core i7</option>
                                        <option value="Intel Core i9" <%= product.cpuModel === "Intel Core i9" ? "selected" : "" %>>Intel Core i9</option>
                                        <option value="AMD Ryzen 3" <%= product.cpuModel === "AMD Ryzen 3" ? "selected" : "" %>>AMD Ryzen 3</option>
                                        <option value="AMD Ryzen 5" <%= product.cpuModel === "AMD Ryzen 5" ? "selected" : "" %>>AMD Ryzen 5</option>
                                        <option value="AMD Ryzen 7" <%= product.cpuModel === "AMD Ryzen 7" ? "selected" : "" %>>AMD Ryzen 7</option>
                                        <option value="AMD Ryzen 9" <%= product.cpuModel === "AMD Ryzen 9" ? "selected" : "" %>>AMD Ryzen 9</option>
                                        <option value="Apple M1" <%= product.cpuModel === "Apple M1" ? "selected" : "" %>>Apple M1</option>
                                        <option value="Apple M2" <%= product.cpuModel === "Apple M2" ? "selected" : "" %>>Apple M2</option>
                                    </select>
                                    <span id="productCpuModelError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productCpuSpeed" class="form-label">CPU Speed (GHz)</label>
                                    <select class="form-control" name="productCpuSpeed" id="productCpuSpeed" required oninput="validateCpuSpeed()">
                                        <option value="" <%= !product.cpuSpeed ? "selected" : "" %>><%= product.cpuSpeed || "Select CPU speed" %></option>
                                        <% ["1.0 GHz", "1.2 GHz", "1.5 GHz", "1.8 GHz", "2.0 GHz", "2.2 GHz", "2.5 GHz", "2.8 GHz", "3.0 GHz", "3.2 GHz", "3.4 GHz", "3.5 GHz", "3.8 GHz", "4.0 GHz", "4.2 GHz", "4.4 GHz", "4.6 GHz", "4.8 GHz"].forEach(speed => { %>
                                            <option value="<%= speed %>" <%= product.cpuSpeed === speed ? "selected" : "" %>><%= speed %></option>
                                        <% }) %>
                                    </select>
                                    <span id="productCpuSpeedError" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 col-md-10">
                                    <label for="producthdType" class="form-label">Product HD type</label>
                                    <select class="form-control" name="producthdType" id="producthdType" required oninput="validateProducthdType()">
                                        <option value="" <%= !product.hdType ? 'selected' : '' %>>Select HD type</option>
                                        <option value="HDD" <%= product.hdType === 'HDD' ? 'selected' : '' %>>Hard Disk Drive (HDD)</option>
                                        <option value="SSD" <%= product.hdType === 'SSD' ? 'selected' : '' %>>Solid-State Drive (SSD)</option>
                                        <option value="SSHD" <%= product.hdType === 'SSHD' ? 'selected' : '' %>>Hybrid Drive (SSHD)</option>
                                        <option value="NVMe" <%= product.hdType === 'NVMe' ? 'selected' : '' %>>NVMe SSD</option>
                                        <option value="eMMC" <%= product.hdType === 'eMMC' ? 'selected' : '' %>>eMMC</option>
                                    </select>
                                    <span id="producthdTypeError" class="text-danger"></span>
                                </div>      

                                <div class="mb-3 col-md-10">
                                    <label for="productWattage" class="form-label">Product wattage</label>
                                    <input type="number" class="form-control" min="1" name="productWattage" id="productWattage" value="<%= product.wattage %>" required oninput="validateProductWattage()">
                                    <span id="productWattageError" class="text-danger"></span>
                                </div>   

                                <div class="mb-3 col-md-10">
                                    <label for="productRamSize" class="form-label">Product RAM Size</label>
                                    <select class="form-control" name="productRamSize" id="productRamSize" required oninput="validateRamSize()">
                                        <option value="" <%= !product.ramSize ? 'selected' : '' %>>Select RAM Size</option>
                                        <option value="4GB" <%= product.ramSize === '4GB' ? 'selected' : '' %>>4GB</option>
                                        <option value="8GB" <%= product.ramSize === '8GB' ? 'selected' : '' %>>8GB</option>
                                        <option value="16GB" <%= product.ramSize === '16GB' ? 'selected' : '' %>>16GB</option>
                                        <option value="32GB" <%= product.ramSize === '32GB' ? 'selected' : '' %>>32GB</option>
                                        <option value="64GB" <%= product.ramSize === '64GB' ? 'selected' : '' %>>64GB</option>
                                        <option value="128GB" <%= product.ramSize === '128GB' ? 'selected' : '' %>>128GB</option>
                                    </select>
                                    <span id="productRamSizeError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productOperatingSystem" class="form-label">Product Operating System</label>
                                    <select class="form-control" name="productOperatingSystem" id="productOperatingSystem" required oninput="validateOperatingSystem()">
                                        <option value="" <%= !product.os ? 'selected' : '' %>>Select Operating System</option>
                                        <option value="Windows" <%= product.os === 'Windows' ? 'selected' : '' %>>Windows</option>
                                        <option value="macOS" <%= product.os === 'macOS' ? 'selected' : '' %>>macOS</option>
                                        <option value="Linux" <%= product.os === 'Linux' ? 'selected' : '' %>>Linux</option>
                                        <option value="Ubuntu" <%= product.os === 'Ubuntu' ? 'selected' : '' %>>Ubuntu</option>
                                        <option value="Fedora" <%= product.os === 'Fedora' ? 'selected' : '' %>>Fedora</option>
                                        <option value="FreeBSD" <%= product.os === 'FreeBSD' ? 'selected' : '' %>>FreeBSD</option>
                                        <option value="ChromeOS" <%= product.os === 'ChromeOS' ? 'selected' : '' %>>ChromeOS</option>
                                    </select>
                                    <span id="productOperatingSystemError" class="text-danger"></span>
                                </div>
                                                             
                                <div class="mb-3 col-md-10">
                                    <label for="productGraphicsCard" class="form-label">Product graphics card</label>
                                    <input type="text" class="form-control" name="productGraphicsCard" id="productGraphicsCard" value="<%= product.gpu %>" required oninput="validateGraphicsCard()">
                                    <span id="productGraphicsCardError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productBattery" class="form-label">Product Battery</label>
                                    <select class="form-control" name="productBattery" id="productBattery" required oninput="validateProductBattery()">
                                        <option value="Li-ion" <%= product.battery === "Li-ion" ? "selected" : "" %>>Li-ion</option>
                                        <option value="Li-polymer" <%= product.battery === "Li-polymer" ? "selected" : "" %>>Li-polymer</option>
                                        <option value="NiMH" <%= product.battery === "NiMH" ? "selected" : "" %>>NiMH</option>
                                        <option value="NiCd" <%= product.battery === "NiCd" ? "selected" : "" %>>NiCd</option>
                                    </select>
                                    <span id="productBatteryError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productBatteryEnergy" class="form-label">Product Battery Energy</label>
                                    <select class="form-control" name="productBatteryEnergy" id="productBatteryEnergy" required oninput="validateProductBatteryEnergy()">
                                        <option value="" <%= !product.batteryEnergy ? 'selected' : '' %>>Select Battery Energy</option>
                                        <option value="30 Watt Hours" <%= product.batteryEnergy === '30 Watt Hours' ? 'selected' : '' %>>30 Watt Hours</option>
                                        <option value="32 Watt Hours" <%= product.batteryEnergy === '32 Watt Hours' ? 'selected' : '' %>>32 Watt Hours</option>
                                        <option value="34 Watt Hours" <%= product.batteryEnergy === '34 Watt Hours' ? 'selected' : '' %>>34 Watt Hours</option>
                                        <option value="36 Watt Hours" <%= product.batteryEnergy === '36 Watt Hours' ? 'selected' : '' %>>36 Watt Hours</option>
                                        <option value="38 Watt Hours" <%= product.batteryEnergy === '38 Watt Hours' ? 'selected' : '' %>>38 Watt Hours</option>
                                        <option value="40 Watt Hours" <%= product.batteryEnergy === '40 Watt Hours' ? 'selected' : '' %>>40 Watt Hours</option>
                                        <option value="41 Watt Hours" <%= product.batteryEnergy === '41 Watt Hours' ? 'selected' : '' %>>41 Watt Hours</option>
                                        <option value="45 Watt Hours" <%= product.batteryEnergy === '45 Watt Hours' ? 'selected' : '' %>>45 Watt Hours</option>
                                        <option value="50 Watt Hours" <%= product.batteryEnergy === '50 Watt Hours' ? 'selected' : '' %>>50 Watt Hours</option>
                                        <option value="55 Watt Hours" <%= product.batteryEnergy === '55 Watt Hours' ? 'selected' : '' %>>55 Watt Hours</option>
                                        <option value="60 Watt Hours" <%= product.batteryEnergy === '60 Watt Hours' ? 'selected' : '' %>>60 Watt Hours</option>
                                        <option value="65 Watt Hours" <%= product.batteryEnergy === '65 Watt Hours' ? 'selected' : '' %>>65 Watt Hours</option>
                                        <option value="70 Watt Hours" <%= product.batteryEnergy === '70 Watt Hours' ? 'selected' : '' %>>70 Watt Hours</option>
                                        <option value="75 Watt Hours" <%= product.batteryEnergy === '75 Watt Hours' ? 'selected' : '' %>>75 Watt Hours</option>
                                        <option value="80 Watt Hours" <%= product.batteryEnergy === '80 Watt Hours' ? 'selected' : '' %>>80 Watt Hours</option>
                                        <option value="85 Watt Hours" <%= product.batteryEnergy === '85 Watt Hours' ? 'selected' : '' %>>85 Watt Hours</option>
                                        <option value="90 Watt Hours" <%= product.batteryEnergy === '90 Watt Hours' ? 'selected' : '' %>>90 Watt Hours</option>
                                        <option value="100 Watt Hours" <%= product.batteryEnergy === '100 Watt Hours' ? 'selected' : '' %>>100 Watt Hours</option>
                                    </select>
                                    <span id="productBatteryEnergyError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productVoltage" class="form-label">Product Voltage</label>
                                    <select class="form-control" name="productVoltage" id="productVoltage" required oninput="validateProductVoltage()">
                                        <option value="" <%= !product.voltage ? 'selected' : '' %>>Select Voltage</option>
                                        <option value="160 Volts" <%= product.voltage === '160 Volts' ? 'selected' : '' %>>160 Volts</option>
                                        <option value="180 Volts" <%= product.voltage === '180 Volts' ? 'selected' : '' %>>180 Volts</option>
                                        <option value="200 Volts" <%= product.voltage === '200 Volts' ? 'selected' : '' %>>200 Volts</option>
                                        <option value="210 Volts" <%= product.voltage === '210 Volts' ? 'selected' : '' %>>210 Volts</option>
                                        <option value="220 Volts" <%= product.voltage === '220 Volts' ? 'selected' : '' %>>220 Volts</option>
                                        <option value="230 Volts" <%= product.voltage === '230 Volts' ? 'selected' : '' %>>230 Volts</option>
                                        <option value="240 Volts" <%= product.voltage === '240 Volts' ? 'selected' : '' %>>240 Volts</option>
                                        <option value="260 Volts" <%= product.voltage === '260 Volts' ? 'selected' : '' %>>260 Volts</option>
                                    </select>
                                    <span id="productVoltageError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productWeight" class="form-label">Product Weight</label>
                                    <select class="form-control" name="productWeight" id="productWeight" required oninput="validateProductWeight()">
                                        <option value="" <%= !product.weight ? 'selected' : '' %>>Select Weight</option>
                                        <option value="1.0 kg" <%= product.weight === '1.0 kg' ? 'selected' : '' %>>1.0 kg</option>
                                        <option value="1.2 kg" <%= product.weight === '1.2 kg' ? 'selected' : '' %>>1.2 kg</option>
                                        <option value="1.5 kg" <%= product.weight === '1.5 kg' ? 'selected' : '' %>>1.5 kg</option>
                                        <option value="1.8 kg" <%= product.weight === '1.8 kg' ? 'selected' : '' %>>1.8 kg</option>
                                        <option value="2.0 kg" <%= product.weight === '2.0 kg' ? 'selected' : '' %>>2.0 kg</option>
                                        <option value="2.2 kg" <%= product.weight === '2.2 kg' ? 'selected' : '' %>>2.2 kg</option>
                                        <option value="2.5 kg" <%= product.weight === '2.5 kg' ? 'selected' : '' %>>2.5 kg</option>
                                        <option value="2.8 kg" <%= product.weight === '2.8 kg' ? 'selected' : '' %>>2.8 kg</option>
                                        <option value="3.0 kg" <%= product.weight === '3.0 kg' ? 'selected' : '' %>>3.0 kg</option>
                                    </select>
                                    <span id="productWeightError" class="text-danger"></span>
                                </div>
                                
                                <div class="mb-3 col-md-10">
                                    <label for="productAboutOne" class="form-label">Product about one</label>
                                    <input type="text" class="form-control" name="productAboutOne" id="productAboutOne" value="<%= product.about.aboutOne %>" required oninput="validateProductAbout('productAboutOne')">
                                    <span id="productAboutOneError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productAboutTwo" class="form-label">Product about two</label>
                                    <input type="text" class="form-control" name="productAboutTwo" id="productAboutTwo" value="<%= product.about.aboutTwo %>" required oninput="validateProductAbout('productAboutTwo')">
                                    <span id="productAboutTwoError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productAboutThree" class="form-label">Product about three</label>
                                    <input type="text" class="form-control" name="productAboutThree" id="productAboutThree" value="<%= product.about.aboutThree %>" required oninput="validateProductAbout('productAboutThree')">
                                    <span id="productAboutThreeError" class="text-danger"></span>
                                </div>
                                <div class="mb-3 col-md-10">
                                    <label for="productAboutFour" class="form-label">Product about four</label>
                                    <input type="text" class="form-control" name="productAboutFour" id="productAboutFour" value="<%= product.about.aboutFour %>" required oninput="validateProductAbout('productAboutFour')">
                                    <span id="productAboutFourError" class="text-danger"></span>
                                </div>   
                                <div class="mb-3 col-md-10">
                                    <label for="productAboutFive" class="form-label">Product about five</label>
                                    <input type="text" class="form-control" name="productAboutFive" id="productAboutFive" value="<%= product.about.aboutFive %>" required oninput="validateProductAbout('productAboutFive')">
                                    <span id="productAboutFiveError" class="text-danger"></span>
                                </div>              
                            </div>
                        </div>
                        <div>
                            <div class="wrapper shadow mt-5" id="wrapper">
                                <div class="container container-cropper d-flex flex-column flex-md-row justify-content-center">
                                    <div class="col-md-6">
                                        <div class="image-container">
                                            <img id="image" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="preview-container d-flex align-center justify-content-center mt-2 mt-md-0" id="preview-container">
                                            <img id="preview-image" />
                                        </div>
                                    </div>
                                </div>
                                <input type="file" id="file" accept="image/*" />
                                <label class="cropper-label bg-info" for="file">Choose A Photo</label>
                                <p class="text-center" id="info">Please select <span id="count"></span> images</span></p>
                                <div class="options-cropper d-none d-flex flex-column flex-md-row">
                                    <div class="inputs d-flex col-12 col-md-6">
                                        <input class="form-control"
                                            type="number"
                                            id="height-input"
                                            placeholder="Enter Height"
                                            max="780"
                                        />
                                        <input class="form-control"
                                            type="number"
                                            id="width-input"
                                            placeholder="Enter Width"
                                            max="780"
                                        />
                                    </div>
                                    <div class="buttons gap-1 col-12 col-md-6 mt-2 d-flex justify-content-center">
                                        <button class="aspect-ratio-button btn btn-secondary">16:9</button>
                                        <button class="aspect-ratio-button btn btn-secondary">4:3</button>
                                        <button class="aspect-ratio-button btn btn-secondary">1:1</button>
                                        <button class="aspect-ratio-button btn btn-secondary">2:3</button>
                                        <button class="aspect-ratio-button btn btn-secondary">Free</button>
                                    </div>
                                </div>
                                <div class="btns">
                                  <button id="preview" class="btn btn-primary btn-sm">Preview</button>
                                  <button id="select" class="btn btn-primary btn-sm">Select</button>
                                </div>
                            </div>
                        </div>
                        <div class="my-5">
                            <div id="images"></div>
                        </div>
                        <div class="d-none" id="imageCount" data-image-count="<%= product.images.length %>"><%= product.images.length%></div>
                        
                        <div id="existingImageDiv">
                            <h6>Existing Images</h6>
                            <div class="row d-flex flex-row" style="justify-content: space-evenly; flex-wrap: wrap;">
                                <% for (let i = 0; i < product.images.length; i++) { %>
                                    <div class="col-4" id="image<%= i + 1 %>">
                                        <div class="thumbnail col-6">
                                            <button class="close-btn" onclick="deleteImage('image<%= i + 1 %>','<%= product._id %>','<%= product.images[i]%>',event)">&times;</button>
                                            <div class="close-btn-background"></div>
                                            <img class="img-fluid" id="image<%= i + 1 %>" src="/static/images/ProductImages/<%= product.images[i] %>" alt="">
                                            <div class="caption">
                                                <h6 id="image<%= i + 1 %>">Image <%= i+1 %></h6>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>   
                        </div> 

                        <div class="mt-4">
                            <button class="btn btn-warning" onclick="goBack(event)">Cancel</button>
                            <button onclick="updateProduct(event)" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </section>
    
    <!-- script for the sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/scripts/admin_productValidation.js"></script>
    <script>

        ////// For the croping and saving the images \\\\\\
        let imageArray = []
        let fileInput = document.getElementById("file");
        let image = document.getElementById("image");
        let selectButton = document.getElementById("select");
        let aspectRatio = document.querySelectorAll(".aspect-ratio-button");
        const previewButton = document.getElementById("preview");
        const previewImage = document.getElementById("preview-image");
        const options = document.querySelector(".options-cropper");
        const widthInput = document.getElementById("width-input");
        const heightInput = document.getElementById("height-input");
        let imageContainer = document.getElementById("images")
        let preview = document.getElementById("preview-container")
        let wrapper = document.getElementById("wrapper")
        let existingImageDiv = document.getElementById("existingImageDiv")
        var existImageCount = document.getElementById('imageCount').dataset.imageCount;
        let form = document.getElementById("updateProductForm")
        
        let cropper = "";
        let fileName = "";
        let imgSrc;
        let maxCount = 5;
        let selectedImageCount = 0;
        let possibleImageCount = 0;
        
        function check(){
            possibleImageCount = maxCount - existImageCount
            count.innerHTML = possibleImageCount
            if(existImageCount == 5){
                wrapper.classList.add("d-none")
            }else if(existImageCount == 0){
                existingImageDiv.classList.add("d-none")
            }else{
                wrapper.classList.remove("d-none")
            }
        }

        fileInput.onchange = () => {
            previewImage.src = "";
            heightInput.value = 0;
            widthInput.value = 0;
            selectButton.classList.add("d-none");

            let reader = new FileReader();
            reader.readAsDataURL(fileInput.files[0]);

            reader.onload = () => {
                image.setAttribute("src", reader.result);
                if (cropper) {
                cropper.destroy();
                }
                cropper = new Cropper(image);
                options.classList.remove("d-none");
                previewButton.classList.remove("d-none");
            };
            fileName = fileInput.files[0].name.split(".")[0];
            };

            aspectRatio.forEach((element) => {
                element.addEventListener("click", () => {
                    if (element.innerText == "Free") {
                    cropper.setAspectRatio(NaN);
                    } else {
                    cropper.setAspectRatio(eval(element.innerText.replace(":", "/")));
                    }
                });
            });

            heightInput.addEventListener("input", () => {
                const { height } = cropper.getImageData();
                if (parseInt(heightInput.value) > Math.round(height)) {
                    heightInput.value = Math.round(height);
                }

                let newHeight = parseInt(heightInput.value);
                cropper.setCropBoxData({ height: newHeight });
            });

            widthInput.addEventListener("input", () => {
                const { width } = cropper.getImageData();
                if (parseInt(widthInput.value) > Math.round(width)) {
                    widthInput.value = Math.round(width);
                }

                let newWidth = parseInt(widthInput.value);
                cropper.setCropBoxData({ width: newWidth });
            });

            previewButton.addEventListener("click", (e) => {
                e.preventDefault();
                selectButton.classList.remove("d-none");
                imgSrc = cropper.getCroppedCanvas({}).toDataURL();
                previewImage.src = imgSrc;
                preview.classList.add("border")
                preview.classList.add("p-3")
                preview.classList.add("mx-2")
                selectButton.setAttribute("href", imgSrc);
            });

            selectButton.addEventListener("click",function(event){
                event.preventDefault()

                if(selectedImageCount == possibleImageCount){
                    swal.fire({
                        title: "Image limit",
                        text: `Sorry you can only select ${possibleImageCount} image right now.`,
                        icon: "info",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                    return false
                }
                
                let figure = document.createElement("figure");
                let img = document.createElement("img");
                img.setAttribute("src",imgSrc);
                
                let deleteButton = document.createElement("button");
                deleteButton.classList.add("delete-btn");
                deleteButton.innerHTML = "&times;";

                deleteButton.addEventListener('click', () => {
                    imageContainer.removeChild(figure);
                    imageArray = imageArray.filter(src => src !== imgSrc);
                    selectedImageCount--
                    possibleImageCount++;
                    count.innerHTML = possibleImageCount;
                    if (wrapper.classList.contains("d-none") && possibleImageCount > 0) {
                        wrapper.classList.remove("d-none");
                    }
                });

                figure.appendChild(deleteButton);
                figure.appendChild(img);      
                imageContainer.appendChild(figure); 
                imageArray.push(imgSrc)
                selectedImageCount++
                possibleImageCount--;
                count.innerHTML = possibleImageCount;

                if (selectedImageCount == maxCount || possibleImageCount == 0) {
                    wrapper.classList.add("d-none");
                }
            })

            window.onload = () => {
                selectButton.classList.add("d-none");
                options.classList.add("d-none");
                previewButton.classList.add("d-none");

                options.addEventListener("click", function (e) {
                    e.preventDefault();
                });
                check();
            };

        ////// fetch to send the form data \\\\\\
        function updateProduct(e){
            e.preventDefault()

            let totalImageCount = parseInt(existImageCount) + selectedImageCount;
            if (totalImageCount !== 5) {
                swal.fire({
                    title: "Product image alert",
                    text: `The product must have exactly 5 images.`,
                    icon: "info",
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
                return false;
            }

            if (!validateProductName() || !validateDesc() || !validateColor() || !validateStock() || !validateRealPrice() || !validateOfferPrice() || !validateDiscount()) {
            Swal.fire({
                title: 'Validation Error',
                text: 'Please ensure all fields are filled out correctly.',
                icon: 'error',
                timer: 3000,
                timerProgressBar: true,
                showConfirmButton: false
            });
            return false;
        }

            const productName = document.getElementById("productName").value;
            const productBrand = document.getElementById("productBrand").value;
            const productCategory = document.getElementById("productCategory").value;
            const productDescription = document.getElementById("productDescription").value;
            const productColour = document.getElementById("productColour").value;
            const productStock = document.getElementById("productStock").value;
            const productRealPrice = document.getElementById("productRealPrice").value;
            const productOfferPrice = document.getElementById("productOfferPrice").value;
            const productDiscountPercentage = document.getElementById("productDiscountPercentage").value;
            const productScreenSize = document.getElementById('productScreenSize').value;
            const productHardDiscSize = document.getElementById('productHardDiscSize').value;
            const productCpuModel = document.getElementById('productCpuModel').value;
            const productCpuSpeed = document.getElementById('productCpuSpeed').value;
            const productRamSize = document.getElementById('productRamSize').value;
            const productGraphicsCard = document.getElementById('productGraphicsCard').value;
            const productOperatingSystem = document.getElementById('productOperatingSystem').value;
            const productBattery = document.getElementById('productBattery').value;
            const productBatteryEnergy = document.getElementById('productBatteryEnergy').value;
            const productVoltage = document.getElementById('productVoltage').value;
            const productWeight = document.getElementById('productWeight').value;
            const producthdType = document.getElementById('producthdType').value;
            const productWattage = document.getElementById('productWattage').value;
            const productAboutOne = document.getElementById('productAboutOne').value;
            const productAboutTwo = document.getElementById('productAboutTwo').value;
            const productAboutThree = document.getElementById('productAboutThree').value;
            const productAboutFour = document.getElementById('productAboutFour').value;
            const productAboutFive = document.getElementById('productAboutFive').value;
            
            const formData = new FormData()
            formData.append("productName",productName)            
            formData.append("productBrand",productBrand)            
            formData.append("productCategory",productCategory)            
            formData.append("productDescription",productDescription)            
            formData.append("productColour",productColour)            
            formData.append("productStock",productStock)            
            formData.append("productRealPrice",productRealPrice)            
            formData.append("productOfferPrice",productOfferPrice)            
            formData.append("productDiscountPercentage",productDiscountPercentage)
            formData.append("productScreenSize", productScreenSize);
            formData.append("productHardDiscSize", productHardDiscSize);
            formData.append("productCpuModel", productCpuModel);
            formData.append("productCpuSpeed", productCpuSpeed);
            formData.append("productRamSize", productRamSize);
            formData.append("productGraphicsCard", productGraphicsCard);
            formData.append("productOperatingSystem", productOperatingSystem);
            formData.append("productBattery", productBattery);
            formData.append("productBatteryEnergy", productBatteryEnergy);
            formData.append("productVoltage", productVoltage);
            formData.append("productWeight", productWeight);
            formData.append("productAboutOne", productAboutOne);
            formData.append("productAboutTwo", productAboutTwo);
            formData.append("productAboutThree", productAboutThree);
            formData.append("productAboutFour", productAboutFour);
            formData.append("productAboutFive", productAboutFive);
            formData.append("producthdType", producthdType);
            formData.append("productWattage", productWattage);
            
            imageArray.forEach((imageDataUrl, index) => {
                let byteString = atob(imageDataUrl.split(',')[1]);
                let mimeString = imageDataUrl.split(',')[0].split(':')[1].split(';')[0];
                let ab = new ArrayBuffer(byteString.length);
                let ia = new Uint8Array(ab);
                for (let i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                let blob = new Blob([ab], {type: mimeString});
                formData.append(`productImages`, blob, `image${index}.png`);
            });
            
            fetch(form.action, {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Success',
                        text: data.message,
                        icon: 'success',
                        showConfirmButton: true,
                        confirmButtonText: 'OK'
                    }).then(()=>{
                        window.location.href = "/admin/products"
                    })
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: data.message,
                        icon: 'error',
                        timer: 3000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                }
            })
        }

        ////// For the deletion of the existing images in databse \\\\\\
        function deleteImage(imageId, productId, productImage,event) {
            existImageCount--
            
            event.preventDefault();

            Swal.fire({
                title: "Deleting image.",
                text: "Please wait",
                background: "#333",
                color: "#ffffff",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });

            fetch('/admin/deleteProductImage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId : productId, productImage : productImage }),
            })
            .then(response => response.json())
            .then(data => {
                Swal.close();
                if (data.success) {
                    check()
                    let thumbnail = document.getElementById(imageId);
                    thumbnail.parentElement.removeChild(thumbnail);
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: data.message,
                        icon: 'error',
                        timer: 3000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                }
            })
        }

        

        ////// Cancel button goBack function \\\\\\
        function goBack(event) {
            event.preventDefault();
            window.location.href = '/admin/products'
        }

    </script>

<!-- Admin foter -->
<%-include("../adminpartials/admin_footer.ejs")%>
