<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <link rel="icon" href="/static/images/Bg/desktop/Lapshoplogo.png" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <link rel='stylesheet' href='/static/css/checkout.css' type="text/css" />    

</head>

<body>

    <div id="screen-size"></div>

    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>
            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Checkout</h3>
            </div>
        </div>
    </nav>

    <section class="view">
        <div class="cart-wrap mt-5">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <h3>Select your address</h3>
                </div>
                <hr>
                <div class="row mb-3">

                    <div class="product-card col-md-8">
                        <div class="product-card-each mt-4 shadow d-flex">
                            <div class="col-12 p-3">
                                <p class="fw-semibold">Selected address will be used to bill and ship product</p>
                                <% if (!userAddress || userAddress.length===0) { %>
                                    <p class="text-danger">You haven't added any address yet</p>
                                <% } else { %>
                                    <% userAddress.forEach((address, index)=> { %>
                                        <div class="row mb-1">
                                            <div class="d-flex">
                                                <input type="radio" name="selectedAddress" value="<%= address._id %>" id="address<%= address._id  %>" />
                                                <h6 class="mx-2 mt-2">
                                                    <%= address.name %>
                                                </h6>
                                                <button class="btn btn-sm"
                                                    id="edit-address" data-adId="<%= address._id %>"> 
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                            </div>
                                            <div class="col-12 address text-muted">
                                                <p>
                                                    <%= address.addressLine %>,
                                                    <span>Phone : </span><%= address.phone %>,
                                                    <%= address.city %>, <br>
                                                    <%= address.district %>,
                                                    <%= address.state %>,
                                                    <span>Pincode : </span><%= address.pincode %>,
                                                    <%= address.country %> <br>
                                                </p>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } %>
                                <div class="address-btn">
                                    <button class="mx-3 btn btn-secondary btn-sm"
                                        id="add-address">
                                        <i class="fa-solid fa-plus"></i>
                                        Add new address
                                    </button>
                                </div>
                                <div class="extra-btns my-3">
                                    <button class="btn extra-btn btn-sm"
                                        onclick="goToShop(event)">
                                        Back to shop
                                    </button>
                                    <button class="btn extra-btn btn-sm"
                                        onclick="goToCart(event)">
                                        Review cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(userCart !=="" ){ %>
                        <div class="product-subtotal col-12 col-md-4">
                            <div class="subtotal mt-4 shadow d-flex flex-column p-3">
                                <div class="head text-center">
                                    <h4 class="">Order summary</h4>
                                    <p class="text-success">Part of our website lauching all deliveries are free now.</p>
                                </div>
                                <hr>
                                <div class="details">
                                    <h6>No of items : <span><%= userCart[0].items.length %></span></h6>
                                    <h5>Subtotal : <span class="subtotal"> ₹ <%= userCart[0].totalCartPrice %></span></h5>
                                </div>
                                <div class="button mt-3">
                                    <button class="btn extra-btn w-100 d-none d-md-block" id="goToPayment">Proceed to Payment</button>
                                    <button class="btn extra-btn w-100 btn-sm d-block d-md-none" id="goToPayment">Proceed to Payment</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="/static/images/Bg/desktop/Lapshop logo.png" class="img-fluid w-25 h-25">
                            <div class="text text-center">
                                <h1>LapShop</h1>
                                <h6>Discover Your Digital World with Us.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        ////// To add a new address \\\\\\
        document.getElementById('add-address').addEventListener('click', function () {
            window.location.href = `/addAddressFromCheckout`;
        });

        ////// To go to edit address page \\\\\\
        document.getElementById('edit-address').addEventListener("click", function () {
            const addressId = this.dataset.adid;
            console.log("Addres id :", addressId)
            window.location.href = `/editAddressFromCheckout/${addressId}`;
        })

        ////// To go to payment \\\\\\
        document.getElementById('goToPayment').addEventListener('click', async function (event) {
            event.preventDefault()
            const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked')
            if (!selectedAddress) {

                Swal.fire({
                    icon: 'info',
                    title: 'Address not selected',
                    text: 'Please select an address',
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
                return;
            }
            const selectedAddressId = selectedAddress.value;
            console.log("Selected address :", selectedAddressId)
            const url = `/payment/${selectedAddressId}`;
            window.location.href = url;
        })

        ////// Go to shop \\\\\\
        function goToShop(event) {
            event.preventDefault()
            window.location.href = '/shop'
        }

        ////// Go To Cart \\\\\\
        function goToCart(event) {
            event.preventDefault()
            window.location.href = '/cart'
        }
    </script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

</body>

</html>