<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

  <head>
    <!-- User home css file -->
    <link rel='stylesheet' href='/static/css/home.css' type="text/css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
      rel="stylesheet">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
  </head>

  <section class="view mt-4 wrapper">
    <!-- Home carousel start -->
    <div id="carouselExampleAutoplaying" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if(homeCarousel !="" ){ %>
          <% homeCarousel.forEach((hc, index)=> { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="/static/images/HomeCarousels/<%= hc.image %>" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <div class="tagline">
                  <h4>
                    <%= hc.tagline %>
                  </h4>
                </div>
                <div class="desc-btn">
                  <div class="desc">
                    <h6>
                      <%= hc.desc %>
                    </h6>
                  </div>
                  <button class="shop-btn" id="shop-btn">Shop Now</button>
                </div>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <div class="carousel-item active">
                  <img src="/static/images/HomeCarousels/Ad wall 3.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="tagline">
                      <h4>Empowering Your Digital Journey Daily.</h4>
                    </div>
                    <div class="desc--btn">
                      <div class="desc">
                        <h6>Experience peak performance with our cutting-edge laptop technology solutions.</h6>
                      </div>
                      <button class="shop-btn" id="shop-btn">Shop Now</button>
                    </div>
                  </div>
                </div>
                <% } %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Home carousel start -->
    <section class="parallax-one p-3">
      <div class="container">
        <div class="row p-3">
          <% if(category){ %>
            <% category.forEach((cat,index)=>{ %>
              <div class="col-md-6 col-lg-3">
                <div class="card m-3 border-0 shadow">
                  <div class="card-body d-flex flex-column justify-content-center"
                    style="background-image: url('/static/images/CategoryImages/<%= cat.image %>'); background-size: cover; background-position: center;">
                    <h3 class="card-title text-light text-center position-absolute top-50 start-50 translate-middle"><%= cat.name %></h3>
                    <h6 class="card-text text-light text-center">
                      <%= cat.desc %>
                    </h6>
                  </div>
                </div>
              </div>
              <% }) %>
            <% }else{ %>
              <h1>Happy shopping</h1>
          <% } %>
        </div>
      </div>
    </section>

    <!-- Best offer products start -->
    <% if(bestOfferProducts !="" ){ %>
      <div class="parallaxone-para p-3">
        <div class="text-left mt-3">
          <h4 class="section-title"><span class="px-2">Best deals await! Grab yours now</span></h4>
        </div>
        <section class="" id="sectiontwo">
          <div class="col-12">
            <div class="scroll-container">
              <div class="d-flex overflow-auto p-3">
                <% bestOfferProducts.forEach((product , index)=>{ %>
                  <a href="/productDetail/<%= product._id %>" class="product-outline">
                    <div class="box-two mx-2 text-center shadow" style="flex: 0 0 auto;">
                      <div class="img">
                        <img src="/static/images/ProductImages/<%= product.images[0] %>" alt="No image">
                      </div>
                      <div class="name">
                        <h5>
                          <%= product.name %>
                        </h5>
                      </div>
                      <div class="offer">
                        <h6>Min <%= product.discountPercentage %> % off</h6>
                      </div>
                    </div>
                  </a>
                  <% }) %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% } %>
      <!-- Best offer products end -->
      <% if(coupon && coupon.length > 0){ %>
        <section class="parallax-two p-5">
          <div class="row d-flex justify-content-around">
              <% for(let i = 0; i < coupon.length; i++ ){ %>
                <div class="coupon-card col-md-5 mt-3 p-4 shadow">
                  <h5 class="text-center coupon-head"><%= coupon[i].couponName %></h5>
                  <% if(coupon[i].couponAmount <= 100){ %>
                    <div class="text d-flex align-items-center justify-content-center">
                      <h2 class="coupon-amount coupon-amount"><%= coupon[i].couponAmount %>% OFF</h2>
                    </div>
                    <p class="coupon-p text-center">Get discount on your minimum <%= coupon[i].minAmount %> order</p>
                  <% }else{ %>
                    <div class="text d-flex align-items-center justify-content-center">
                      <h2 class="coupon-amount"><%= coupon[i].couponAmount %></h2>
                      <h5 class="mx-1 my-2 coupon-amount">Rs</h5>
                    </div>
                    <p class="coupon-p text-center">Get Flat discount on your minimum <%= coupon[i].minAmount %> order</p>
                  <% } %>
                  <div class="coupon-body d-flex flex-column flex-lg-row justify-content-center align-items-center">
                      <input type="text" class="coupon-code text-center p-2" value="<%= coupon[i].couponCode %>" id="coupon-code" readonly>
                      <button id="coupon-button" class="coupon-button p-2 my-2 my-lg-0">COPY CODE</button>
                  </div>
                  <div class="countdown text-center mt-3">
                    <p id="countdown">Valid up to <%= coupon[i].endDate.toLocaleDateString(undefined, { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                </div>
              </div>
              <% } %>
            </div>
          </section>
          <% } %>
          <!--  Edit end -->
  </section>
  

  <script>
    ////// To go to shop page \\\\\\
    document.getElementById('shop-btn').addEventListener("click", function () {
      window.location.href = "/shop"
    })

    ////// Get all coupon buttons and coupon codes \\\\\\
    var cpnBtns = document.querySelectorAll(".coupon-button");
    var cpnCodes = document.querySelectorAll(".coupon-code");

    cpnBtns.forEach(function (btn, index) {
      btn.onclick = function () {
        var code = cpnCodes[index].value;
        navigator.clipboard.writeText(code);
        btn.innerHTML = "COPIED";
        setTimeout(function () {
          btn.innerHTML = "COPY CODE";
        }, 3000);
      };
    });

  </script>

  <!-- User footer -->
  <%-include("../userpartials/footer.ejs")%>