<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

  <head>
    <!-- User home css file -->
    <link rel='stylesheet' href='/static/css/home.css' type="text/css" />
  </head>

  <section class="view mt-4 wrapper">
    <!-- Home carousel start -->
    <div id="carouselExampleAutoplaying" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if(homeCarousel !="" ){ %>
          <% homeCarousel.forEach((hc, index)=> { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="/static/images/HomeCarousels/<%= hc.image %>" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <div class="tagline">
                  <h4>
                    <%= hc.tagline %>
                  </h4>
                </div>
                <div class="desc-btn">
                  <div class="desc">
                    <h6>
                      <%= hc.desc %>
                    </h6>
                  </div>
                  <button class="shop-btn" id="shop-btn">Shop Now</button>
                </div>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <div class="carousel-item active">
            <img src="/static/images/HomeCarousels/Ad wall 3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div class="tagline">
                <h4>Empowering Your Digital Journey Daily.</h4>
              </div>
              <div class="desc--btn">
                <div class="desc">
                  <h6>Experience peak performance with our cutting-edge laptop technology solutions.</h6>
                </div>
                <button class="shop-btn" id="shop-btn">Shop Now</button>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Home carousel start -->
    <section class="main">
      <div class="content">
        <h2>LAPSHOP</h2>
        <h2>LAPSHOP</h2>
      </div>
    </section>

  </section>
  
  <script>
    document.getElementById('shop-btn').addEventListener("click",function(){
      window.location.href = "/shop"
    })
  </script>

  <!-- User footer -->
  <%-include("../userpartials/footer.ejs")%>