<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <link rel="icon" href="/static/images/Bg/desktop/Lapshoplogo.png" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <link rel='stylesheet' href='/static/css/payment.css' type="text/css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>
            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Payment</h3>
            </div>
        </div>
    </nav>

    <section class="view">
        <div class="cart-wrap mt-5">
            <div class="container">
                <div class="row mb-3">
                    <div class="product-card col-12 col-md-8">
                        <div class="product-card-each mt-4 shadow d-flex">
                            <div class="col-12 p-3">
                                <div class="payment-intro mb-4 d-flex justify-content-between align-items-center">
                                    <h4 class="fw-bold mb-0">Manage Your Payment Options</h4>
                                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="On this page, you can choose your preferred payment method, apply coupons, and review the payment details before completing your purchase. Ensure that all information is correct to avoid any issues with your order.">
                                        <i class="fas fa-question-circle text-muted"></i>
                                    </a>
                                </div>         
                                <hr>    
                                <h5>Your cart items</h5>
                                <hr>
                                <% userCart.items.forEach((item , index) => { %>
                                    <div class="row mb-1">
                                       <h6>Item <%= index+1 %></h6>
                                        <p class="small">
                                            <%= item.product.brand.name %> ,
                                            <%= item.product.name %> ,
                                            Quantity : <%= item.quantity %>
                                            <br>
                                            Price (according to quantity) : <%= item.totalPrice %>
                                        </p>
                                    </div>
                                <% }) %>
                                <hr>
                                <h5>Selected address</h5>
                                <hr>
                                <% if(userAddress){ %>
                                    <h6><%= userAddress[0].name %></h6>
                                    <p>
                                        <%= userAddress[0].addressLine %> ,
                                        <%= userAddress[0].city %> , <br>
                                        <%= userAddress[0].district %> , 
                                        <%= userAddress[0].state %> , 
                                        Pincode : <%= userAddress[0].pincode %> , 
                                        <%= userAddress[0].country %> <br>
                                        Phone : <%= userAddress[0].phone %> 
                                    </p>
                                    <input type="hidden" id="userAddress" value="<%= userAddress[0]._id  %>">
                                <% } %>
                                <hr>
                                <% if(coupon && coupon.length > 0){ %>
                                    <h5>Apply coupon</h5>
                                    <p class="small">Caoupon details are displayed on home page</p>
                                    <hr>
                                    <% if(!userCart.couponApplied){ %>
                                        <div class="coupon shadow p-3 mb-2 col-lg-8" id="coupon" style="border: 2px solid rgb(19, 192, 79);">
                                            <div class="coupon-body d-flex align-item-center justify-content-center" id="coupon-body">
                                                <input type="text" class="form-control" placeholder="Coupon code" id="userCouponCode">
                                                <button class="btn btn-success btn-sm mx-1" onclick="submitCoupon()">Apply</button>
                                            </div>
                                        </div>
                                    <% }else{ %>
                                        <div class="coupon-applied text-center" id="coupon-applied">
                                            <h6 class="text-center text-success" id="coupon-applied">🎉Congradulations, Coupon applied successfully.🎉</h6>     
                                            <button class="btn btn-danger cancel-coupon btn-sm" onclick="cancelCoupon()">Cancel coupon</button>
                                            <input type="text" id="cancelCouponId" value="<%= userCart.couponCode %>" hidden>                                    
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>               
                        </div>
                    </div>
                    
                    
                    <div class="product-subtotal col-12 col-md-4">
                        <div class="subtotal mt-4 shadow d-flex flex-column p-3">
                            <div class="head text-center">
                                <h4 class="">Payment</h4>
                                <p class="text-success">Select payment and confirm order</p>
                            </div>
                            <hr>
                            <div class="checkbox-payment">
                                <div class="razorpay d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="razorpay">
                                    <label for="razorpay" class="mx-2">Razorpay</label>
                                </div>
                                <div class="cod d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="cod">
                                    <label for="cod" class="mx-2">Cash on delivery</label>
                                </div>
                                <div class="wallet d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="wallet">
                                    <label for="wallet" class="mx-2">Wallet</label>
                                </div>
                            </div>                            
                            <hr>
                            <div class="details">
                                <% if(userCart){ %>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Total : </h6> <h6>₹ <%= (userCart.totalCartPrice + userCart.totalCartDiscountPrice + userCart.couponAmount ).toFixed(2) %></h6>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Delivery : </h6> <h6 class="text-success">Free</h6>
                                    </div>
                                    <% if(userCart.couponApplied){ %>
                                        <div class="total d-flex justify-content-between">
                                            <h6>Coupon Discount : </h6> <h6>₹ <%= userCart.couponAmount %></h6>
                                        </div>
                                    <% } %>
                                    <div class="d-flex justify-content-between">
                                        <h6>Product discount : </h6> <h6>₹ <%= userCart.totalCartDiscountPrice %></h6>
                                    </div> 
                                <hr>
                                <div class="total d-flex justify-content-between">
                                    <h5>Subtotal : </h5> <h5>₹ <span id="subTotal"><%= userCart.totalCartPrice %></span></h5>
                                </div>
                                <% } %>
                            </div>
                            <hr>
                            <div class="button mt-3">
                                <button onclick="confirmOrder()" class="btn btn-warning w-100 d-none d-md-block" id="goToPayment">Confirm order</button>
                                <button onclick="confirmOrder()" class="btn btn-warning w-100 btn-sm d-block d-md-none" id="goToPayment">Confirm order</button>
                            </div>
                        </div>
                    </div>

                    <div class="instruction-faq col-md-8 col-12 shadow mt-4 p-3">
                        <div class="instructions">
                            <h3>Payment Instructions:</h3>
                            <p>"Select your preferred payment method from the options provided."</p>
                            <p>"You can choose between cash on delivery, wallet payments, or online payment methods."</p>
                            <hr>
                            <h3>Coupon Application Instructions:</h3>
                            <p>"If you have a coupon, enter the code in the designated field to apply the discount."</p>
                            <p>"Make sure the coupon is valid and applicable to your purchase."</p>
                            <hr>
                            <h3>Order Review Instructions:</h3>
                            <p>"Review your payment details carefully before completing the transaction."</p>
                            <p>"Ensure all information is correct to avoid any issues with your order."</p>
                            <hr>
                            <h3>Order refund policy:</h3>
                            <p>"Soory, there is no refund policy avaliable as of now."</p>
                            <p>"Your cancelled or returned amount will be credited to your wallet."</p>
                        </div>
                        <div class="accordion" id="paymentFAQs">
                            <h4 class="mx-2">FAQ's</h4>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="faq1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        How can I apply a coupon?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="faq1" data-bs-parent="#paymentFAQs">
                                    <div class="accordion-body">
                                        You can apply a coupon by copying the code from the home page where available coupons are displayed. Paste the coupon code into the designated field on the payment page, and the discount will be applied if the coupon is valid.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="faq2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Why is the cash on delivery option not available?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="faq2" data-bs-parent="#paymentFAQs">
                                    <div class="accordion-body">
                                        The cash on delivery option is only available for orders below ₹1000. If your order exceeds this amount, you'll need to choose an alternative payment method.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="faq3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Can I use my wallet balance with another payment method?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="faq3" data-bs-parent="#paymentFAQs">
                                    <div class="accordion-body">
                                        Yes, if you don’t have enough funds in your wallet to cover the full amount, you can combine your wallet balance with an online payment method to complete your purchase.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="faq4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        What happens if my payment fails?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="faq4" data-bs-parent="#paymentFAQs">
                                    <div class="accordion-body">
                                        If your payment fails, the order will not be placed for shipment. However, you can still see the order in your orders list with a status of "Payment Failed." From there, you can attempt to make the payment again.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
    
                </div>
            </div>
        </div>
    </section>

    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="/static/images/Bg/desktop/Lapshoplogo.png" class="img-fluid w-25 h-25">
                            <div class="text text-center">
                                <h1>LapShop</h1>
                                <h6>Discover Your Digital World with Us.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- script for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- script for razorpay -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/static/scripts/user_payment.js"></script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

</body>

</html>