<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <style>
        /*======> Very small devices <======*/
        @media (max-width: 576px) {
            .product-img {
                width: 100%;
            }

            .product-text span {
                font-size: 12px;
            }

            .add-to-cart-btn {
                width: 5rem;
                font-size: 12px;
            }

            .delete-btn {
                font-size: 12px;
            }
        }

        /*======> XS/SM devices <======*/
        @media (min-width: 576px) and (max-width: 767px) {
            .product-img {
                width: 100%;
            }

            .product-text span {
                font-size: 14px;
            }
        }

        /*======> MD devices <======*/
        @media (min-width: 768px) and (max-width: 991px) {
            .product-img {
                width: 60%;
            }
        }

        /*======> LG devices <======*/
        @media (min-width: 992px) and (max-width: 1199px) {
            .product-img {
                width: 80%;
            }
        }


        /*======> XL devices <======*/
        @media (min-width: 1200px) {
            .product-img {
                width: 80%;
            }
        }

        .quantity-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .quantity-btn {
            width: 30px;
            height: 30px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            background-color: #f8f9fa;
            border: none;
            outline: none;
        }

        .quantity-value {
            width: 50px;
            height: 30px;
            text-align: center;
            border: none;
            outline: none;
        }

        .product-card-each,
        .subtotal {
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div id="screen-size"></div>

    <!-- Navbar One-->
    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">

            <!-- Navbar Logo -->
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>

            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Payment</h3>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->

    <section class="view">
        <!-- main div start -->
        <div class="cart-wrap mt-5">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <h3>Select payment method</h3>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="product-card col-12 col-md-8">
                        <div class="product-card-each mt-4 shadow d-flex">
                            <div class="col-12 p-3">
                                <h5>Your cart items</h5>
                                <hr>
                                <% userCart.items.forEach((item , index) => { %>
                                    <div class="row mb-1">
                                       <h6>Item <%= index+1 %></h6>
                                        <p class="small">
                                            <%= item.product.brand.name %> ,
                                            <%= item.product.name %> ,
                                            Quantity : <%= item.quantity %>
                                            <br>
                                            Price (according to quantity) : <%= item.totalPrice %>
                                        </p>
                                    </div>
                                <% }) %>
                                <hr>
                                <h5>Selected address</h5>
                                <hr>
                                <% if(userAddress){ %>
                                <h6><%= userAddress[0].name %></h6>
                                <p>
                                    <%= userAddress[0].addressLine %> ,
                                    <%= userAddress[0].city %> , <br>
                                    <%= userAddress[0].district %> , 
                                    <%= userAddress[0].state %> , 
                                    Pincode : <%= userAddress[0].pincode %> , 
                                    <%= userAddress[0].country %> <br>
                                    Phone : <%= userAddress[0].phone %> 
                                </p>
                                <input type="hidden" id="userAddress" value="<%= userAddress[0]._id  %>">
                                <% } %>
                            </div>               
                            </div>
                        </div>
                    
                    
                    <div class="product-subtotal col-12 col-md-4">
                        <div class="subtotal mt-4 shadow d-flex flex-column p-3">
                            <div class="head text-center">
                                <h4 class="">Payment</h4>
                                <p class="text-success">Select payment and confirm order</p>
                            </div>
                            <hr>
                            <% if(coupon !== ""){ %>
                                <% coupon.forEach((coupon, index)=>{ %>
                                    <div class="coupon shadow p-2" id="coupon" style="border: 2px solid rgb(19, 192, 79);">
                                        <h6 class="text-center">Coupon <%= coupon.couponName %></h6>
                                        <div class="coupon-body d-flex align-item-center justify-content-center mb-2" id="coupon-body">
                                            <input type="text" class="form-control" placeholder="Coupon code" id="userCouponCode">
                                            <button class="btn btn-success btn-sm mx-1" onclick="submitCoupon()">Apply</button>
                                            <input type="hidden" id="couponCode" value="<%= coupon.couponCode %>">
                                            <input type="hidden" id="couponAmount" value="<%= coupon.couponAmount %>">
                                            <input type="hidden" id="coupnMinAmount" value="<%= coupon.minAmount %>">
                                            <input type="hidden"  id="couponId" value="<%= coupon._id %>">
                                        </div>
                                    </div>
                                    <h6 class="text-center text-success d-none" id="coupon-applied">🎉Congradulations, Coupon applied. You got flat <%= coupon.couponAmount %> on this order.🎉</h6>
                                    <hr>
                                <% }) %>
                            <% } %>
                            <div class="checkbox-payment">
                                <div class="razorpay d-flex flex-row">
                                    <input type="checkbox" name="paymentMethod" id="razorpay">
                                    <label for="razorpay" class="mx-2">Razorpay</label>
                                </div>
                                <div class="cod d-flex flex-row">
                                    <input type="checkbox" name="paymentMethod" id="cod">
                                    <label for="cod" class="mx-2">Cash on delivery</label>
                                </div>
                                <div class="wallet d-flex flex-row">
                                    <input type="checkbox" name="paymentMethod" id="wallet">
                                    <label for="wallet" class="mx-2">Wallet</label>
                                </div>
                            </div>                            
                            <hr>
                            <div class="details">
                                <% if(userCart){ %>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Total : </h6> <h6>₹ <%= (userCart.totalCartPrice + userCart.totalCartDiscountPrice).toFixed(2) %></h6>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Delivery : </h6> <h6 class="text-success">Free</h6>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Product discount : </h6> <h6>₹ <%= userCart.totalCartDiscountPrice %></h6>
                                    </div> 
                                <hr>
                                <div class="total d-flex justify-content-between">
                                    <h5>Subtotal : </h5> <h5>₹ <span id="couponAppliedTotal"><%= userCart.totalCartPrice %></span></h5>
                                    <input type="hidden" id="subTotal" value="<%= userCart.totalCartPrice %>">
                                </div>
                                <% } %>
                            </div>
                            <hr>
                            <div class="button mt-3">
                                <p class="text-danger">Sorry, there is no refund policy available as of now.</p>
                                <button onclick="confirmOrder()" class="btn btn-warning w-100" id="goToPayment">Confirm order</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- main div end -->
    </section>

    <!-- footer start -->
    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <h1>LapShop</h1>
                            <p>Discover Your Digital World with Us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

    ////// To appy coupon \\\\\\
    let coupon = document.getElementById("coupon") ? document.getElementById("coupon") : ""
    let couponAppliedTotal;
    let withoutcouponTotal = Number(document.getElementById('subTotal').value)

    
        function submitCoupon(){
            const userCouponCode = document.getElementById("userCouponCode").value
            const couponCode = document.getElementById("couponCode").value
            const subTotal = Number(document.getElementById('subTotal').value)
            const couponAmount = Number(document.getElementById("couponAmount").value)
            const couponMinAmount = Number(document.getElementById("coupnMinAmount").value)
            const couponId = document.getElementById("couponId").value;
            
            console.log("coupon code :",couponCode)
            console.log("userCouponCode :",userCouponCode)
            console.log("subTotal :", subTotal)
            console.log("couponMinAmount :", couponMinAmount)
            console.log("couponAmount :",couponAmount)
            console.log("couponId :",couponId)
            
            if (!userCouponCode || !couponCode || !subTotal || !couponAmount || !couponMinAmount || !couponId) {
                console.error("One or more coupon elements are missing.");
                return false;
            }

        
        if (!userCouponCode) {
            return false;
        }  
        
        if (userCouponCode !== couponCode) {
            Swal.fire({
                icon: 'info',
                title: 'Invalid coupon code',
                text: 'Please enter a valid coupon code.',
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            });
            return false;
        } 
        
        if (subTotal < couponMinAmount ) {
            Swal.fire({
                icon: 'info',
                title: "Insufficient order amount",
                text: `Coupon is valid only for minimum order price ${couponMinAmount}`,
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            });
            return false;
        }
        couponAppliedTotal = subTotal - couponAmount;
        document.getElementById('couponAppliedTotal').innerText = couponAppliedTotal;
        document.getElementById("coupon").classList.add("d-none");
        document.getElementById("coupon-applied").classList.remove("d-none");
        console.log("Coupon code ok");
        return couponId;
    }
    
    document.querySelectorAll('input[name="paymentMethod"]').forEach(function(checkbox) {
        checkbox.addEventListener('click', function() {
            document.querySelectorAll('input[name="paymentMethod"]').forEach(function(cb) {
                if (cb !== checkbox) {
                    cb.checked = false;
                }
            });
            console.log(checkbox)
        });
    });
        
    function confirmOrder() {
        const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
        if(!selectedPaymentMethod){
            Swal.fire({
                icon: 'info',
                title: "NO PAYMENT METHOD",
                text: "Please select your payment method.",
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            });
            return false;
        }
        const selectedPaymentMethodId = selectedPaymentMethod.id;
        const userAddressId = document.getElementById("userAddress").value;
        const subTotal = Number(document.getElementById('subTotal').value);
        let totalAmount;

        if (couponAppliedTotal && couponAppliedTotal !== undefined && couponAppliedTotal !== "") {
                totalAmount = couponAppliedTotal;
        } else {
            totalAmount = subTotal
        }

        const data = {
            paymentMethod: selectedPaymentMethodId,
            userAddressId: userAddressId,
            totalAmount: totalAmount
        };

        // If the coupon is not empty, call submitCoupon function
        if (coupon && coupon !== " " && coupon !== 0) {
            const couponId = submitCoupon();
            if (couponId) {
                data.couponId = couponId;
            }
        }

        console.log("data :",data)

        fetch('/postPayment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            const contentType = response.headers.get('content-type');
            const message = "Your account is blocked, Please contact us"
            const type = "danger"
            if (contentType && contentType.includes('application/json')) {
                return response.json(); 
            } else {
                window.location.href = `/login?message=${encodeURIComponent(message)}&type=${type}`;
            }
        })
        .then(data => {
            if (data && data.error) {
                throw new Error(data.error);
            }
            Swal.fire({
                title: "Success",
                text: data.message,
                icon: "success",
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            }).then(()=>{
                window.location.href = "/orderConfirmation"
            })
        })
        .catch(error => {
            Swal.fire({
                title: "Error",
                text: error,
                icon: "error",
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            })
        });
    }

        

       
    </script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</body>

</html>