<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />
    <style>
        /*======> Very small devices <======*/
        @media (max-width: 576px) {
            .product-img {
                width: 100%;
            }

            .product-text span {
                font-size: 12px;
            }

            .add-to-cart-btn {
                width: 5rem;
                font-size: 12px;
            }

            .delete-btn {
                font-size: 12px;
            }
        }

        /*======> XS/SM devices <======*/
        @media (min-width: 576px) and (max-width: 767px) {
            .product-img {
                width: 100%;
            }

            .product-text span {
                font-size: 14px;
            }
        }

        /*======> MD devices <======*/
        @media (min-width: 768px) and (max-width: 991px) {
            .product-img {
                width: 60%;
            }
        }

        /*======> LG devices <======*/
        @media (min-width: 992px) and (max-width: 1199px) {
            .product-img {
                width: 80%;
            }
        }


        /*======> XL devices <======*/
        @media (min-width: 1200px) {
            .product-img {
                width: 80%;
            }
        }

        .quantity-input {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .quantity-btn {
            width: 30px;
            height: 30px;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
            background-color: #f8f9fa;
            border: none;
            outline: none;
        }

        .quantity-value {
            width: 50px;
            height: 30px;
            text-align: center;
            border: none;
            outline: none;
        }

        .product-card-each,
        .subtotal {
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div id="screen-size"></div>

    <!-- Navbar One-->
    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">

            <!-- Navbar Logo -->
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>

            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Payment</h3>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->

    <section class="view">
        <!-- main div start -->
        <div class="cart-wrap mt-5">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <h3>Coupon and Payment</h3>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="product-card col-12 col-md-8">
                        <div class="product-card-each mt-4 shadow d-flex">
                            <div class="col-12 p-3">
                                <h5>Your cart items</h5>
                                <hr>
                                <% userCart.items.forEach((item , index) => { %>
                                    <div class="row mb-1">
                                       <h6>Item <%= index+1 %></h6>
                                        <p class="small">
                                            <%= item.product.brand.name %> ,
                                            <%= item.product.name %> ,
                                            Quantity : <%= item.quantity %>
                                            <br>
                                            Price (according to quantity) : <%= item.totalPrice %>
                                        </p>
                                    </div>
                                <% }) %>
                                <hr>
                                <h5>Selected address</h5>
                                <hr>
                                <% if(userAddress){ %>
                                <h6><%= userAddress[0].name %></h6>
                                <p>
                                    <%= userAddress[0].addressLine %> ,
                                    <%= userAddress[0].city %> , <br>
                                    <%= userAddress[0].district %> , 
                                    <%= userAddress[0].state %> , 
                                    Pincode : <%= userAddress[0].pincode %> , 
                                    <%= userAddress[0].country %> <br>
                                    Phone : <%= userAddress[0].phone %> 
                                </p>
                                <input type="hidden" id="userAddress" value="<%= userAddress[0]._id  %>">
                                <% } %>
                                <hr>
                                <% if(coupon && coupon.length > 0){ %>
                                    <h5>Apply coupon</h5>
                                    <p class="small">Caoupon details are displayed on home page</p>
                                    <hr>
                                    <div class="coupon shadow p-3 mb-2 col-lg-8" id="coupon" style="border: 2px solid rgb(19, 192, 79);">
                                        <div class="coupon-body d-flex align-item-center justify-content-center" id="coupon-body">
                                            <input type="text" class="form-control" placeholder="Coupon code" id="userCouponCode">
                                            <button class="btn btn-success btn-sm mx-1" onclick="submitCoupon()">Apply</button>
                                        </div>
                                    </div>
                                    <div class="coupon-applied text-center d-none" id="coupon-applied">
                                        <h6 class="text-center text-success" id="coupon-applied">🎉Congradulations, Coupon applied. You got flat <span id="coupon-amount"></span> on this order.🎉</h6>     
                                        <button class="btn btn-danger cancel-coupon btn-sm" onclick="cancelCoupon()">Cancel coupon</button>
                                        <input type="text" id="cancelCouponId" hidden>                                    
                                    </div>
                                <% } %>
                                </div>               
                            </div>
                        </div>
                    
                    
                    <div class="product-subtotal col-12 col-md-4">
                        <div class="subtotal mt-4 shadow d-flex flex-column p-3">
                            <div class="head text-center">
                                <h4 class="">Payment</h4>
                                <p class="text-success">Select payment and confirm order</p>
                            </div>
                            <hr>
                            <div class="checkbox-payment">
                                <div class="razorpay d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="razorpay">
                                    <label for="razorpay" class="mx-2">Razorpay</label>
                                </div>
                                <div class="cod d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="cod">
                                    <label for="cod" class="mx-2">Cash on delivery</label>
                                </div>
                                <div class="wallet d-flex flex-row">
                                    <input type="radio" name="paymentMethod" id="wallet">
                                    <label for="wallet" class="mx-2">Wallet</label>
                                </div>
                            </div>                            
                            <hr>
                            <div class="details">
                                <% if(userCart){ %>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Total : </h6> <h6>₹ <%= (userCart.totalCartPrice + userCart.totalCartDiscountPrice).toFixed(2) %></h6>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Delivery : </h6> <h6 class="text-success">Free</h6>
                                    </div>
                                    <div class="total d-flex justify-content-between">
                                        <h6>Product discount : </h6> <h6>₹ <%= userCart.totalCartDiscountPrice %></h6>
                                    </div> 
                                <hr>
                                <div class="total d-flex justify-content-between">
                                    <h5>Subtotal : </h5> <h5>₹ <span id="subTotal"><%= userCart.totalCartPrice %></span></h5>
                                </div>
                                <% } %>
                            </div>
                            <hr>
                            <div class="button mt-3">
                                <p class="text-danger">Sorry, there is no refund policy available as of now.</p>
                                <button onclick="confirmOrder()" class="btn btn-warning w-100" id="goToPayment">Confirm order</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- main div end -->
    </section>

    <!-- footer start -->
    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="/static/images/Bg/desktop/Lapshop logo.png" class="img-fluid w-25 h-25">
                            <div class="text text-center">
                                <h1>LapShop</h1>
                                <h6>Discover Your Digital World with Us.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>

        let coupon = document.getElementById("coupon") ? document.getElementById("coupon") : ""
        let couponApplied = document.getElementById("coupon-applied") ? document.getElementById("coupon-applied") : ""
        let couponAmount = document.getElementById("coupon-amount") ? document.getElementById("coupon-amount") : ""
        let subTotal = document.getElementById('subTotal')
        let cancelCouponInput = document.getElementById("cancelCouponId") ? document.getElementById("cancelCouponId") : ""
        
        ////// To appy coupon \\\\\\
        function submitCoupon(){
            const userCouponCode = document.getElementById("userCouponCode").value
            console.log("userCouponCode :",userCouponCode)

            fetch('/applyCoupon',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({userCouponCode})
            })
            .then(response => {
                const contentType = response.headers.get('content-type');
                const message = "Your account is blocked, Please contact us"
                const type = "danger"
                if (contentType && contentType.includes('application/json')) {
                    return response.json(); 
                } else {
                    window.location.href = `/login?message=${encodeURIComponent(message)}&type=${type}`;
                }
            }).then(data => {
                if(data.success){
                    Swal.fire({
                        title: "Success",
                        text: data.message,
                        icon: "success",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                    coupon.classList.add("d-none")
                    couponApplied.classList.remove("d-none")
                    if(data.couponAmount <= 99){
                        couponAmount.innerText = data.couponAmount+" %"
                    }else if(data.couponAmount >= 100){
                        couponAmount.innerText = data.couponAmount
                    }
                    subTotal.innerText = data.newSubTotal
                    cancelCouponInput.value = data.userCouponCode

                }else if(!data.success){
                    Swal.fire({
                        title: "Info",
                        text: data.message,
                        icon: "info",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                }
            })
        }

        ////// To cancel coupon \\\\\\
        function cancelCoupon(){
            const userCancelCouponCode = document.getElementById("cancelCouponId").value
            console.log("userCancelCouponCode :",userCancelCouponCode)

            fetch('/cancelCoupon',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({userCancelCouponCode})
            })
            .then(response => {
                const contentType = response.headers.get('content-type');
                const message = "Your account is blocked, Please contact us"
                const type = "danger"
                if (contentType && contentType.includes('application/json')) {
                    return response.json(); 
                } else {
                    window.location.href = `/login?message=${encodeURIComponent(message)}&type=${type}`;
                }
            }).then(data => {
                console.log(data)
                if(data.success){
                    Swal.fire({
                        title: "Success",
                        text: data.message,
                        icon: "success",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                    console.log("cartTotal :",data.cartTotal)
                    coupon.classList.remove("d-none")
                    couponApplied.classList.add("d-none")
                    subTotal.innerText = ""
                    subTotal.innerText = data.cartTotal
                    couponAmount.innerText = ""
                    cancelCouponInput.value = ""
                    const userCouponCode = document.getElementById("userCouponCode")
                    userCouponCode.value = ""

                }else if(!data.success){
                    Swal.fire({
                        title: "Info",
                        text: data.message,
                        icon: "info",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    })
                }
            })
        }
    
    
        
    function confirmOrder() {
        const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
        if(!selectedPaymentMethod){
            Swal.fire({
                icon: 'info',
                title: "NO PAYMENT METHOD",
                text: "Please select your payment method.",
                timer: 2000,
                timerProgressBar: true,
                showConfirmButton: false
            });
            return false;
        }

        let paymentMethod = selectedPaymentMethod.id;
        const userAddressId = document.getElementById("userAddress").value;
        const subTotal = document.getElementById('subTotal').innerText;
        const coupon = cancelCouponInput.value ? cancelCouponInput.value : ""

        if (paymentMethod === "cod" && subTotal > 1000) {
        Swal.fire({
            icon: 'info',
            title: "NOT APPLICABLE",
            text: "Orders above 1000 rs are not applicable for cash on delivery.",
            timer: 2000,
            timerProgressBar: true,
            showConfirmButton: false
        });
        return false;
    }

        console.log("order confirmation start")
        console.log("payment Method :",paymentMethod)
        console.log("type of payment Method :",typeof paymentMethod)
        console.log("user address id :",userAddressId)
        console.log("type of user address id :",typeof userAddressId)
        console.log("subtotal :",subTotal)
        console.log("type of subtotal :",typeof subTotal)
        console.log("coupon :",coupon)
        console.log("type of coupon :",typeof coupon)
        console.log("order confirmation end")

        const data = {
            paymentMethod: paymentMethod,
            totalAmount: subTotal
        };

        console.log("data :",data)

        fetch('/orderConfirmation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            const contentType = response.headers.get('content-type');
            const message = "Your account is blocked, Please contact us"
            const type = "danger"
            if (contentType && contentType.includes('application/json')) {
                return response.json(); 
            } else {
                window.location.href = `/login?message=${encodeURIComponent(message)}&type=${type}`;
            }
        })
        .then(data => {
            if (data.success) {
                if (paymentMethod === "razorpay") {
                    var options = {
                        key: "" + data.key_id + "",
                        amount: "" + data.amount + "",
                        currency: "INR",
                        name: "LapShop",
                        description: "Your laptop",
                        image: `/static/images/Bg/desktop/Lapshop logo.png`,
                        order_id: "" + data.order_id + "", 
                        handler: function (response) {
                            let redirectUrl = `/placeOrder?amount=${subTotal}&paymentMethod=${paymentMethod}&addressId=${userAddressId}&paymentStatus=true&coupon=${coupon}`;
                            window.location.href = redirectUrl;
                        },
                        prefill: {
                            name: "" + data.name + "", 
                            email: "" + data.email + "",
                            contact: "9000090000", 
                            },
                            notes: {
                                address: "Razorpay Corporate Office",
                            },
                            theme: {
                                color: "#ffc107",
                            },
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on("payment.failed", function (response) {
                        let redirectUrl = `/placeOrder?amount=${subTotal}&paymentMethod=${paymentMethod}&addressId=${userAddressId}&paymentStatus=false&coupon=${coupon}`;
                        window.location.href = redirectUrl;
                    });
                    rzp1.open();
                } else if (paymentMethod === "cod") {
                    let redirectUrl = `/placeOrder?amount=${subTotal}&paymentMethod=${paymentMethod}&addressId=${userAddressId}&paymentStatus=false&coupon=${coupon}`;
                    window.location.href = redirectUrl;
                } else if (paymentMethod === "wallet"){
                    
                    console.log("payment method wallet data : ",data)
                    const walletBalance = data.walletBalance
                    if(data.paymentAmount <= walletBalance){
                        console.log("wallet deduction ok.")
                        Swal.fire({
                            html: `
                                <div class="text-center">
                                    <img src="/static/images/Bg/desktop/wallet.gif" alt="Payment" class="w-25 img-thumbnail">
                                    <h5 class="mt-3">Paying using your wallet</h5>
                                    <h5 class="mt-3">Your wallet balance : ${data.walletBalance}</h5>
                                </div>
                            `,
                            showCancelButton: true,
                            confirmButtonText: 'Place order',
                            confirmButton: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                let redirectUrl = `/placeOrder?amount=${subTotal}&paymentMethod=${paymentMethod}&addressId=${userAddressId}&paymentStatus=true&coupon=${coupon}&walletUsed=true`;
                                window.location.href = redirectUrl;
                            }
                        });
                    }else{
                        if(data.walletBalance === 0){
                            swal.fire({
                                icon: "info",
                                title : "Wallet balance is 0.",
                                timerProgressBar : 3000
                            })
                            return false;
                        }
                        console.log("wallet deduction not ok. need to use razorpay also.")
                        console.log("wallet + online razorpay deduction ok.")
                        swal.fire({
                            title: "Not enough wallet balance.",
                            text: "Are you sure want to place this order with wallet with Online payment ?",
                            showCancelButton: true,
                            confirmButtonText: "Yes",
                            confirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) { // Check if user clicked "Yes"
                                Swal.fire({
                                    html: `
                                        <div class="text-center">
                                            <img src="/static/images/Bg/desktop/wallet.gif" alt="Payment" class="w-25 img-thumbnail">
                                            <h5 class="mt-3">Paying using your wallet</h5>
                                            <h6 class="mt-3">Your wallet balance : ${walletBalance}</h6>
                                        </div>
                                    `,
                                    showCancelButton: true,
                                    confirmButtonText: 'pay with wallet',
                                    confirmButton: true
                                }).then((result) => {
                                    if (result.isConfirmed) {

                                        paymentMethod = "wallet with razorpay"

                                        const wwrdata = {
                                            paymentAmount : subTotal,
                                            walletBalance : walletBalance
                                        }

                                        fetch('/orderConfirmWithWalletAndRazorpay', {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify(wwrdata)
                                        })
                                        .then(response => {
                                            const contentType = response.headers.get('content-type');
                                            const message = "Your account is blocked, Please contact us"
                                            const type = "danger"
                                            if (contentType && contentType.includes('application/json')) {
                                                return response.json(); 
                                            } else {
                                                window.location.href = `/login?message=${encodeURIComponent(message)}&type=${type}`;
                                            }
                                        })
                                        .then(data => {
                                            if(data.success){
                                                console.log("data : ",data)
                                                var options = {
                                                    key: "" + data.key_id + "",
                                                    amount: "" + data.amount + "",
                                                    currency: "INR",
                                                    name: "LapShop",
                                                    description: "Your laptop",
                                                    image: `/static/images/Bg/desktop/Lapshop logo.png`,
                                                    order_id: "" + data.order_id + "", 
                                                    handler: function (response) {
                                                        let redirectUrl = `/placeOrder?amount=${data.amount}&paymentMethod=${paymentMethod}&addressId=${userAddressId}&paymentStatus=true&coupon=${coupon}&walletBalance=${walletBalance}&walletUsed=true`;
                                                        window.location.href = redirectUrl;
                                                    },
                                                    prefill: {
                                                        name: "" + data.name + "", 
                                                        email: "" + data.email + "",
                                                        contact: "9000090000", 
                                                        },
                                                        notes: {
                                                            address: "Razorpay Corporate Office",
                                                        },
                                                        theme: {
                                                            color: "#ffc107",
                                                        },
                                                };
                                                var rzp1 = new Razorpay(options);
                                                rzp1.on("payment.failed", function (response) {
                                                    swal.fire({
                                                        icon: 'error', 
                                                        title: "Online payment Failed",
                                                        text: "Please try again.",
                                                        showCancelButton: true
                                                    });
                                                });
                                                rzp1.open();
                                            } else {
                                                swal.fire({
                                                    icon: "error",
                                                    title: "Payment gateway error.",
                                                    text: "Please try again.",
                                                    timerProgressBar: 3000
                                                })
                                            }
                                        })
                                    }
                                })
                            }
                        })
                    }
                }
            } else {
                Swal.fire({
                    icon: 'error',
                    title: "Internal server error",
                    text: data.message,
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
            }
          })
    }

        

       
    </script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</body>

</html>