<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>

    <head>
        <!-- Custom css for product detail page -->
        <link rel="stylesheet" href="/static/css/product_Detail.css">
    </head>

    <section class="view">
        <div class="mx-2 mx-md-5 mt-5 d-md-flex mb-2">
            <% if(productData !="" ){ %>
                <!-- images container and image container -->
                <div class="col-md-6">
                    <div class="d-flex justify-content-center">
                        <div class="divOne col-2 shadow side-img d-none d-lg-block " style="height: 450px; overflow-y: scroll;">
                            <% productData.images.forEach((image, index)=> { %>
                                <div class="each-img m-3" data-img-id="<%= image %>" data-index="<%= index %>" onclick="changeimage(this)">
                                    <img class="w-100" src="/static/images/ProductImages/<%= image %>" alt="Image">
                                </div>
                            <% }) %>
                        </div>
                        <div class="divTwo col-10 product-image d-none d-md-block p-4 shadow" style="overflow:hidden">
                            <% productData.images.forEach((image, index) => { %>
                                <div id="carousel-item-<%= index %>" class="carousel-item <%= index === 0 ? 'active' : '' %> first">
                                    <span id="lens"></span>
                                    <img class="w-100" src="/static/images/ProductImages/<%= image %>" alt="Image" data-selected="<%= index === 0 ? 'true' : 'false' %>" id="target-image">
                                </div>
                            <% }); %>
                        </div>
                        
                        <div class="divThree col-md-6 col-lg-5 product-image d-block d-md-none">
                            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner shadow">
                                    <% productData.images.forEach((image, index) => { %>
                                        <div id="carousel-item-<%= index %>" class="carousel-item <%= index === 0 ? 'active' : '' %> first">
                                            <span id="lens"></span>
                                            <img class="w-100" src="/static/images/ProductImages/<%= image %>" alt="Image" data-selected="<%= index === 0 ? 'true' : 'false' %>" id="target-image">
                                        </div>
                                    <% }); %>
                                </div>
                                <button class="carousel-control-prev" type="button" id="carousel-btnOne"
                                    data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" id="carousel-btnTwo"
                                    data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>    
                    </div>
                    <div class="mt-5 col-8 d-none d-md-block">
                        <h5>Technical details</h5>
                        <table class="table table-bordered table-hover shadow-sm">
                            <tbody>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Name</td>
                                    <td class="px-3 py-2"><%= productData.name %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Brand</td>
                                    <td class="px-3 py-2"><%= productData.brand.name %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Category</td>
                                    <td class="px-3 py-2"><%= productData.category.name %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Colour</td>
                                    <td class="px-3 py-2"><%= productData.colour %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Screen Size</td>
                                    <td class="px-3 py-2"><%= productData.screenSize %> Inch</td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Hard Drive Size</td>
                                    <td class="px-3 py-2"><%= productData.hdSize %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Hard Drive Type</td>
                                    <td class="px-3 py-2"><%= productData.hdType %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">CPU Model</td>
                                    <td class="px-3 py-2"><%= productData.cpuModel %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">CPU Speed</td>
                                    <td class="px-3 py-2"><%= productData.cpuSpeed %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">RAM Size</td>
                                    <td class="px-3 py-2"><%= productData.ramSize %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Operating System</td>
                                    <td class="px-3 py-2"><%= productData.os %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Graphics Card</td>
                                    <td class="px-3 py-2"><%= productData.gpu %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Battery</td>
                                    <td class="px-3 py-2"><%= productData.battery %></td>
                                </tr>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Battery energy</td>
                                    <td class="px-3 py-2"><%= productData.batteryEnergy %></td>
                                </tr>
                                <% if(productData.voltage !== ""){ %>
                                    <tr>
                                        <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Voltage</td>
                                        <td class="px-3 py-2"><%= productData.voltage %></td>
                                    </tr>
                                <% } %>
                                <% if(productData.wattage !== ""){ %>
                                    <tr>
                                        <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Wattage</td>
                                        <td class="px-3 py-2"><%= productData.wattage %> watts</td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Weight</td>
                                    <td class="px-3 py-2"><%= productData.weight %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Details div -->
                <div class="divFour col-6 shadow px-4"  id="second" style="height: 450px">
                    
                </div>
                <div class="col-md-4">                    
                    <div class="divFive col-12 d-flex flex-column mt-4 mt-md-0 px-md-4" id="product-detail">
                        <h6 class="product-desc fs-5 mb-1">
                            <%= productData.description %>
                        </h6>
                        <hr class="my-1">
                        <div class="d-flex align-items-end my-0">
                            <h4 class="discount-perc mb-0">
                                -<%= productData.discountPercentage %>%
                            </h4>
                            <h4 class="offer-price mx-2 mb-0">
                                ₹<%= productData.offerPrice %>
                            </h4>
                        </div>
                        <h6 class="text-muted mb-1">
                            M.R.P <del class="real-price text-muted">₹<%= productData.realPrice %></del>
                        </h6>
                        <p class="text-muted mb-0">Inclusive of all taxes</p>                        
                        <hr>
                        <div class="d-flex justify-content-between align-items-start align-items-md-center p-3">
                            <div class="d-flex flex-column align-items-center align-self-stretch text-center col-4">
                                <i class="fas fa-tools text-danger mb-2 fs-5 icon-style"></i>
                                <p class="mb-0 text-dark fw-medium small">7 Days Service Center Replacement</p>
                            </div>
                            
                            <div class="d-flex flex-column align-items-center align-self-stretch text-center col-4">
                                <i class="fas fa-truck text-dark mb-2 fs-5 icon-style"></i>
                                <p class="mb-0 text-dark fw-medium small">Free Delivery</p>
                            </div>
                            
                            <div class="d-flex flex-column align-items-center align-self-stretch text-center col-4">
                                <i class="fas fa-shield-alt text-success mb-2 fs-5 icon-style"></i>
                                <p class="mb-0 text-dark fw-medium small">1 Year Warranty</p>
                            </div>                            
                        </div>
                        <hr>
                        <div class="d-flex align-items-center my-lg-auto">
                            <% if (cartProdId !="" ) { %>
                                <% for(let i=0; i < cartProdId.length; i++){ %>
                                    <% if(cartProdId[i] == productData._id.toString()){ %>
                                        <button class="btn goToCart-btn px-3 d-none d-lg-block" 
                                            id="goToCart" onclick="toGetCart()">
                                            <i class="fa fa-shopping-cart mr-1"></i> Go to cart
                                        </button>
                                        <button class="btn goToCart-btn px-3 btn-sm d-block d-lg-none" id="goToCart"
                                            data-prod-id="<%= productData._id %>" onclick="toGetCart(event)">
                                            <i class="fa fa-shopping-cart mr-1"></i> Go to cart
                                        </button>
                                        <% break; %>
                                    <% } %>
                                    <!-- If it's the last iteration and no match is found -->
                                    <% if(i===cartProdId.length - 1){ %>
                                        <button class="btn addtocart-btn px-3 d-none d-lg-block"
                                            data-prod-id="<%= productData._id %>" onclick="addToCart(this)"><i
                                            class="fa fa-shopping-cart mr-1"></i> Add to cart
                                        </button>
                                        <button class="btn addtocart-btn px-3 btn-sm d-block d-lg-none"
                                            data-prod-id="<%= productData._id %>" onclick="addToCart(this)"><i
                                            class="fa fa-shopping-cart mr-1"></i> Add to cart
                                        </button>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <button class="btn addtocart-btn px-3 d-none d-lg-block"
                                    data-prod-id="<%= productData._id %>" onclick="addToCart(this)"><i
                                    class="fa fa-shopping-cart mr-1"></i> Add to cart
                                </button>
                                <button class="btn addtocart-btn px-3 btn-sm d-block d-lg-none"
                                    data-prod-id="<%= productData._id %>" onclick="addToCart(this)"><i
                                    class="fa fa-shopping-cart mr-1"></i> Add to cart
                                </button>
                            <% } %>
                            <% if (wishlistProdId !="" ) { %>
                                <% for(let i=0; i < wishlistProdId.length; i++){ %>
                                    <% if(wishlistProdId[i] == productData._id.toString()){ %>
                                        <button class="btn addtocart-btn px-3 d-none d-lg-block mx-2"
                                            onclick="getWishlist()"><i
                                            class="fa fa-heart mr-1"></i> Wishlist
                                        </button>
                                        <button class="btn addtocart-btn px-3 btn-sm d-block d-lg-none mx-2"
                                            onclick="getWishlist(this)"><i
                                            class="fa fa-heart mr-1"></i> Wishlist
                                        </button>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <ul class="list-unstyled">
                                <li><span class="fw-bold">Brand</span></li>
                                <li><span class="fw-bold">Model</span></li>
                                <li><span class="fw-bold">Screen size</span></li>
                                <li><span class="fw-bold">Colour</span></li>
                            </ul>
                            <ul class="list-unstyled mx-4">
                                <li><span class=""><%= productData.brand.name %></span></li>
                                <li><span class=""><%= productData.name %></span></li>
                                <li><span class=""><%= productData.screenSize %> Inch</span></li>
                                <li><span class=""><%= productData.colour %></span></li>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <h5>About this item</h5>
                            <ul>
                                <% for (const key in productData.about) { %>
                                    <% if (productData.about.hasOwnProperty(key)) { %>
                                        <li><%= productData.about[key] %></li>
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--  Most popular products  -->
                <% if(mostPopular.length > 0) { %>
                    <div class="col-2 p-1 d-none d-md-block" id="product-detail" style="background-color: rgb(243, 243, 243);">
                    <h6 class="fw-bold p-2"> Most popular</h6>
                        <% mostPopular.forEach((product) => { %>
                            <a href="/productDetail/<%= product._id %>">
                                <div class="card mb-2 p-1">
                                    <img src="/static/images/ProductImages/<%= product.images[0] %>" class="card-img-top" alt="<%= product.name %>">
                                    <div class="card-body p-2" style="border-top: 1px solid rgb(218, 216, 216);">
                                        <div class="align-items-center justify-content-between d-flex">
                                            <span class="small text-muted"><%= product.brand.name %></span>
                                            <span class="small fw-bold"><%= product.name %></span>
                                        </div>
                                        <div class="align-items-center justify-content-between d-flex">
                                            <span class="text-danger small">- <%= product.discountPercentage %>%</span>
                                            <span class="text-success">₹<%= product.realPrice %></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                <% } %>
                
                <!--  Technical details table for small devices -->
                <div class="px-2 d-block d-md-none">
                    <h5>Technical details</h5>
                    <table class="table table-bordered table-hover shadow-sm">
                        <tbody>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Name</td>
                                <td class="px-3 py-2"><%= productData.name %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Brand</td>
                                <td class="px-3 py-2"><%= productData.brand.name %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Category</td>
                                <td class="px-3 py-2"><%= productData.category.name %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Colour</td>
                                <td class="px-3 py-2"><%= productData.colour %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Screen Size</td>
                                <td class="px-3 py-2"><%= productData.screenSize %> Inch</td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Hard Drive Size</td>
                                <td class="px-3 py-2"><%= productData.hdSize %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Hard Drive Type</td>
                                <td class="px-3 py-2"><%= productData.hdType %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">CPU Model</td>
                                <td class="px-3 py-2"><%= productData.cpuModel %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">CPU Speed</td>
                                <td class="px-3 py-2"><%= productData.cpuSpeed %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">RAM Size</td>
                                <td class="px-3 py-2"><%= productData.ramSize %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Operating System</td>
                                <td class="px-3 py-2"><%= productData.os %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Graphics Card</td>
                                <td class="px-3 py-2"><%= productData.gpu %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Battery</td>
                                <td class="px-3 py-2"><%= productData.battery %></td>
                            </tr>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Battery energy</td>
                                <td class="px-3 py-2"><%= productData.batteryEnergy %></td>
                            </tr>
                            <% if(productData.voltage !== ""){ %>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Voltage</td>
                                    <td class="px-3 py-2"><%= productData.voltage %></td>
                                </tr>
                            <% } %>
                            <% if(productData.wattage !== ""){ %>
                                <tr>
                                    <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Wattage</td>
                                    <td class="px-3 py-2"><%= productData.wattage %> watts</td>
                                </tr>
                            <% } %>
                            <tr>
                                <td class="table-left-bg font-weight-bold px-3 py-2" style="width: 30%; background-color: rgb(204, 204, 204);">Weight</td>
                                <td class="px-3 py-2"><%= productData.weight %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <% }else{ %>
                <div class="container my-4">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 text-center p-4 border border-warning rounded bg-light shadow-sm">
                            <i class="fas fa-info-circle text-warning mb-3" style="font-size: 40px;"></i>
                            <h4 class="text-muted">Product Details Are Not Available</h4>
                            <p class="text-muted">Sorry, we couldn't find the details for this product. Please check back later.</p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="mx-md-5">
            <!-- Same category products -->
            <% if(productData != "" && sameCategoryProduct !="" ){ %>
                <div class="container-fluid py-5 mt-2">
                    <h5 class="section-title my-2 mx-3 fw-bold">Same category products</h5>
                    <section class="mt-2" id="sectiontwo">
                        <div class="col-12">
                            <div class="scroll-container">
                                <div class="d-flex overflow-auto p-2">
                                    <% sameCategoryProduct.forEach((product , index)=>{ %>
                                        <a href="/productDetail/<%= product._id %>" class="product-outline">
                                            <div class="box-two mx-2 border-0 small-card p-2" style="flex: 0 0 auto;background-color: rgb(243, 243, 243);">
                                                <div class="img">
                                                    <img src="/static/images/ProductImages/<%= product.images[0] %>"
                                                        alt="No image">
                                                </div>
                                                <div class="p-2">
                                                    <h5 class="box-desc text-dark"><%= product.description.slice(0,120) %>...</h5>
                                                    <div class="box-price">
                                                        <span class="text-danger">Min <%= product.discountPercentage %> off</span>
                                                        <span class="mx-2 text-success fw-bold"> ₹<%= product.realPrice %></span>
                                                    </div>
                                                    <h5 class="box-name text-dark"><%= product.name %></h5>
                                                </div>
                                            </div>
                                        </a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            <% } %>

            <!-- Review -->
            <div class="d-md-flex">
                <div class="col-md-6">
                    <!-- Add review -->
                    <% if(productData != ""){ %>
                        <input type="hidden" value="<%= productData._id %>" id="reviewProductId">
                        <input type="hidden" value="<%= productDelivered %>" id="productDelivered">
                    <% } %>
                    <h5 class="section-title my-2 mx-3 fw-bold">Add your review</h5>
                    <div class="d-flex justify-content-between mb-4 align-items-start border rounded m-3 p-3" style="background-color: rgb(243, 243, 243);">
                        <div class="profile-image col-2 col-lg-1 d-flex justify-content-center mb-3 mb-md-0">
                            <% if(userDetails){ %>
                                <% if(userDetails.userProfile !== ""){ %>
                                    <img src="/static/images/UserProfile/<%= userDetails.userProfile %>" class="rounded-circle" alt="User Profile" style="width: 50px; height: 50px; object-fit: cover;">
                                <% }else{ %>
                                    <img src="/static/images/icons/No profile image.jpg" class="rounded-circle" alt="User Profile" style="width: 50px; height: 50px; object-fit: cover;">
                                <% } %>
                            <% }else{ %>
                                <img src="/static/images/icons/No profile image.jpg" class="rounded-circle" alt="User Profile" style="width: 50px; height: 50px; object-fit: cover;">
                            <% } %>
                        </div>
                        <div class="mx-3 col-9 col-lg-10">
                            <% if(userDetails){ %>
                                <label for="userName" class="mx-2 fw-bold"><%= userDetails.userName %></label>
                            <% }else{ %>
                                <label for="userName" class="mx-2 fw-bold">User name</label>
                            <% } %>
                            <textarea class="form-control mb-3" rows="3" placeholder="Write your review..." id="reviewText"></textarea>
                            
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating</label>
                                <select class="form-select" id="rating">
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="5">5 Stars</option>
                                </select>
                            </div>
                    
                            <button class="btn btn-primary btn-sm" type="button" id="submitReview" onclick="submitReview()">Submit Review</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <!-- reviews -->
                    <h5 class="section-title my-2 mx-3 fw-bold">Top reviews</h5>
                    <% if(reviews && reviews.length > 0) { %>
                        <% reviews.forEach((review, index) => { %>
                            <div class="d-flex justify-content-between mb-2 border rounded m-3 p-3" style="background-color: rgb(243, 243, 243);">
                                <div class="profile-image col-2 collg--1">
                                    <% if(review.userId.profileimage && review.userId.profileimage != "" ){ %>
                                        <img src="/static/images/UserProfile/<%= review.userId.profileimage %>" class="rounded-circle" alt="User Profile" style="width: 50px; height: 50px; object-fit: cover;">
                                    <% }else{ %>
                                        <img src="/static/images/icons/No profile image.jpg" class="rounded-circle" alt="User Profile" style="width: 50px; height: 50px; object-fit: cover;">
                                    <% } %>
                                </div>
                                <div class="mx-3 col-9 col-lg-10">
                                    <p class="fw-bold mb-1"><%= review.userId.fullname %> <span class="small mx-2 text-muted"><%= new Date(review.createdAt).toLocaleDateString('en-US', {
                                        year: 'numeric',
                                        month: 'short',
                                        day: 'numeric',
                                      }) %></span>
                                    </p>
                                    <p class="mb-1"><%= review.reviewText %></p>
                                            
                                    <div class="mb-2">
                                        <% for (let i = 0; i < 5; i++) { %>
                                            <% if (i < review.rating) { %>
                                                <span class="text-warning">&#9733;</span>
                                            <% } else { %>
                                                <span class="text-muted">&#9733;</span>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    
                                    <% if(userDetails){ %>
                                        <% if(userDetails.userId.toString() !== review.userId._id.toString()) { %>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-outline-success btn-sm me-2 btn-like" type="button" data-review-id="<%= review._id %>">
                                                <i class="fas fa-thumbs-up"></i> Useful <% if (review.likes > 0) { %> <%= review.likes %> <% } %>
                                            </button>
                                            <button class="btn btn-outline-danger btn-sm btn-dislike" type="button" data-review-id="<%= review._id %>">
                                                <i class="fas fa-thumbs-down"></i> Dislike <% if (review.dislikes > 0) { %> <%= review.dislikes %> <% } %>
                                            </button>
                                        </div>
                                        <% } %>
                                    <% }else{ %>
                                        <div class="d-flex align-items-center">
                                            <button class="btn btn-outline-success btn-sm me-2 btn-like" type="button" data-review-id="<%= review._id %>">
                                                <i class="fas fa-thumbs-up"></i> Useful <% if (review.likes > 0) { %> <%= review.likes %> <% } %>
                                            </button>
                                            <button class="btn btn-outline-danger btn-sm btn-dislike" type="button" data-review-id="<%= review._id %>">
                                                <i class="fas fa-thumbs-down"></i> Dislike <% if (review.dislikes > 0) { %> <%= review.dislikes %> <% } %>
                                            </button>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="d-flex justify-content-center align-items-center border rounded m-3 p-3" style="background-color: rgb(243, 243, 243); min-height: 100px;">
                            <h6 class="text-center text-muted">No reviews yet. Be the first to write one!</h6>
                        </div>
                    <% } %>
                </div>   
            </div>

        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Script for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>

            ////// To get the cart page \\\\\\
            function toGetCart(){
                window.location.href = "/cart";
            }

            ////// To get the wishlist page \\\\\\
            function getWishlist(){
                window.location.href = "/wishlist";
            }

            ////// Funciton to add product to cart \\\\\\
            function addToCart(element) {
                const productId = element.getAttribute('data-prod-id');

                fetch('/addProductToCartFromShop', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productId })
                })
                .then(response => {
                    const contentType = response.headers.get('content-type');
                    if (contentType && contentType.includes('application/json')) {
                        return response.json(); 
                    } else {
                        window.location.href = `/login`;
                    }
                })
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: "Success",
                            text: data.message,
                            icon: "success",
                            timer: 2000,
                            background: "#333",
                            color: "#ffffff",
                            timerProgressBar: true,
                            showConfirmButton: false
                        }).then(data =>{
                            location.reload()
                        })
                    } else if (data.status === 409) {
                        Swal.fire({
                            title: "Info",
                            text: data.message,
                            icon: "info",
                            timer: 2000,
                            background: "#333",
                            color: "#ffffff",
                            timerProgressBar: true,
                            showConfirmButton: false
                        })
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: data.message,
                            icon: "error",
                            timer: 2000,
                            background: "#333",
                            color: "#ffffff",
                            timerProgressBar: true,
                            showConfirmButton: false
                        });
                    }
                })
            }

            ////// function to show the selected image \\\\\\
            function changeimage(element) {
                var selectedImage;
                var index = parseInt(element.getAttribute("data-index"));

                document.querySelectorAll('.carousel-item').forEach(item => {
                    item.classList.remove('active');
                });

                var carouselItem = document.getElementById(`carousel-item-${index}`);
                if (carouselItem) { 
                    var imgElement = carouselItem.querySelector('img');
                    selectedImage = imgElement.getAttribute('src');
                    carouselItem.classList.add('active');
                }
                customChange(selectedImage)
            }
            
            ////// for showing image in zoom div \\\\\\
            document.addEventListener('DOMContentLoaded', function() {
                var targetImage = document.querySelector("#target-image");
                
                var second = document.getElementById("second")
                if (targetImage) {
                    second.style.backgroundImage = `url(${targetImage.src})` 
                }
            });

            ////// Function to show the selected image in zoom div \\\\\\
            function customChange(selectedImage) {
                var targetImage = document.querySelector("#target-image");
                var second = document.getElementById("second")
                second.style.backgroundImage = ""
                
                if (selectedImage) {
                    second.style.backgroundImage = `url(${selectedImage})` 
                }
            }

            ////// function to handle the zoom functionality of th image \\\\\\
            var lens = document.querySelectorAll("#lens")
            var first = document.querySelectorAll(".first")
            var second = document.getElementById("second")
            var productDetail = document.getElementById("product-detail")
            var carouselButtonOne = document.getElementById("carousel-btnOne")
            var carouselButtonTwo = document.getElementById("carousel-btnTwo")
            
            for(let i = 0; i < first.length ; i++){
            
                first[i].addEventListener("mousemove",function(e){
                    
                    var x = e.clientX - e.target.getBoundingClientRect().left;
                    var y = e.clientY - e.target.getBoundingClientRect().top;
                    
                    var lensWidth = lens[i].offsetWidth;
                    var lensHeight = lens[i].offsetHeight;
                    var lensX = x - lensWidth / 2;
                    var lensY = y - lensHeight / 2.3;
                    
                    lens[i].style.left = lensX + "px";
                    lens[i].style.top = lensY + "px";
                    
                    var imageX = (x / e.target.offsetWidth) * 100;
                    var imageY = (y / e.target.offsetHeight) * 100;
                    
                    second.style.backgroundPosition = `${imageX}% ${imageY}%`;
                    
                    lens[i].style.cursor = "none";
                    document.body.style.cursor = "block";
                    
                })
                
                first[i].addEventListener("mouseenter", function() {
                    if(window.innerWidth > 991) {
                        carouselButtonOne.style.display = "none"
                        carouselButtonTwo.style.display = "none"
                        second.style.display = "block"
                        lens[i].style.display = "block";
                        productDetail.classList.add("d-none")
                    }
                });
                
                first[i].addEventListener("mouseleave", function() {
                    carouselButtonOne.style.display = "block"
                    carouselButtonTwo.style.display = "block"
                    second.style.display = "none"
                    lens[i].style.display = "none";
                    productDetail.classList.remove("d-none")
                });
            }

            ////// Add a review \\\\\\
            async function submitReview() {
                const productDelivered = document.getElementById('productDelivered').value;
                const productId = document.getElementById('reviewProductId').value;
                const reviewText = document.getElementById('reviewText').value;
                const rating = document.getElementById('rating').value;

                if(!productDelivered){
                    Swal.fire({
                        icon: 'info',
                        title: "Not purchased",
                        text: 'You can add a review only after purchasing this product.',
                        timer: 2000, 
                        timerProgressBar: true, 
                        showConfirmButton: false, 
                        background: '#333', 
                        color: '#ffffff', 
                    });
                    return;   
                }

                if(!reviewText || !rating){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Review form',
                        text: 'Please check the review From.',
                        timer: 2000, 
                        timerProgressBar: true, 
                        showConfirmButton: false, 
                        background: '#333', 
                        color: '#ffffff', 
                    });
                    return;
                }

                if(reviewText.length > 200){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Review form',
                        text: 'Review text length exceeds',
                        timer: 2000, 
                        timerProgressBar: true, 
                        showConfirmButton: false, 
                        background: '#333', 
                        color: '#ffffff', 
                    });
                    return;
                }

                try {
                    const response = await fetch(`/addProductReview/${productId}/review`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ rating, reviewText })
                    });

                    const contentType = response.headers.get('content-type');
                    let data;
                    if (contentType && contentType.includes('application/json')) {
                        data = await response.json();
                    } else {
                        window.location.href = `/login`;
                    }

                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success.',
                            text: data.message || 'Review added successfully...',
                            background: "#333",
                            color: "#ffffff",
                            showConfirmButton: true
                        }).then(() => {
                            location.reload();
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: data.message || 'Review adding error.',
                            timer: 3000,
                            background: "#333",
                            color: "#ffffff",
                            timerProgressBar: true,
                            showConfirmButton: false
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message || 'Something went wrong.',
                        timer: 3000,
                        background: "#333",
                        color: "#ffffff",
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                }
            }

           ////// To like or dislike the review \\\\\\
           document.addEventListener('DOMContentLoaded', () => {
            const likeButtons = document.querySelectorAll('.btn-like');
            const dislikeButtons = document.querySelectorAll('.btn-dislike');

            const handleReviewAction = async (reviewId, action) => {
                try {
                const response = await fetch(`/review/${reviewId}/like-dislike`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ action }),
                });

                const contentType = response.headers.get('content-type');
                let data;
                if (contentType && contentType.includes('application/json')) {
                    data = await response.json();
                    Swal.close();
                } else {
                    window.location.href = `/login`;
                }

                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: data.message,
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false,
                        background: '#333',
                        color: '#ffffff',
                    }).then(() => {
                        location.reload();
                    })
                } else {
                    Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message,
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    background: '#333',
                    color: '#ffffff',
                    });
                }
                } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Something went wrong. Please try again.',
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false,
                    background: '#333',
                    color: '#ffffff',
                });
                }
            };

            likeButtons.forEach(button => {
                button.addEventListener('click', () => {
                const reviewId = button.getAttribute('data-review-id');
                handleReviewAction(reviewId, 'like');
                });
            });

            dislikeButtons.forEach(button => {
                button.addEventListener('click', () => {
                const reviewId = button.getAttribute('data-review-id');
                handleReviewAction(reviewId, 'dislike');
                });
            });
            });

        </script>

    <!-- User footer -->
    <%-include("../userpartials/footer.ejs")%>