<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapShop</title>
    <link rel="icon" href="/static/images/Bg/desktop/Lapshoplogo.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    <link rel='stylesheet' href='/static/css/nav_footer.css' type="text/css" />

    <style>
        .product-card-each , .subtotal{
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div id="screen-size"></div>

    <nav class="navbar navbar-expand-lg navbar-dark py-2 fixed-top">
        <div class="container">
            <div class="logo col-2">
                <a href="" class="navbar-brand">
                    <span class="fw-bold fs-3">LapShop</span>
                </a>
            </div>
            <div class="col-10 d-flex align-items-center justify-content-center">
                <h3 class="text-light fs-3 mt-2">Re payment</h3>
            </div>
        </div>
    </nav>

    <section class="view">
        <div class="cart-wrap mt-5">
            <div class="container">
                <% if(order && order !=="" ){ %>
                    <div class="d-flex justify-content-between">
                        <h3>Complete your order payment</h3>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="product-card col-12 col-md-8">
                            <div class="product-card-each mt-4 shadow d-flex">
                                <div class="col-12 p-3">
                                    <h5>Your cart items</h5>
                                    <hr>
                                    <% order.orderedItems.forEach((item , index)=> { %>
                                        <div class="row mb-1">
                                            <h6>Item <%= index+1 %>
                                            </h6>
                                            <p class="small">
                                                <%= item.product.brand.name %> ,
                                                <%= item.product.name %> ,
                                                Quantity : <%= item.quantity %>
                                                <br>
                                                Price (according to quantity) : <%= item.totalPrice %>
                                            </p>
                                        </div>
                                    <% }) %>
                                    <hr>
                                    <h5>Selected address</h5>
                                    <hr>
                                    <% if(order.address){ %>
                                        <h6>
                                            <%= order.address.name %>
                                        </h6>
                                        <p>
                                            <input type="hidden" id="userAddressId" value="<%= order.address._id  %>">
                                            <%= order.address.addressLine %> ,
                                            <%= order.address.city %> , <br>
                                            <%= order.address.district %> ,
                                            <%= order.address.state %> ,
                                            Pincode : <%= order.address.pincode %> ,
                                            <%= order.address.country %> <br>
                                            Phone : <%= order.address.phone %>
                                        </p>
                                        <input type="hidden" id="userAddress" value="<%= order.address  %>">
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="product-subtotal col-12 col-md-4">
                            <div class="subtotal mt-4 shadow d-flex flex-column p-3">
                                <div class="head text-center">
                                    <h4 class="">Payment</h4>
                                </div>
                                <hr>
                                <div class="checkbox-payment">
                                    <div class="razorpay">
                                        <h6 class="text-center">Pyamnet method : <%= order.paymentMethod %>
                                        </h6>
                                        <input type="hidden" id="paymentMethod" value="<%= order.paymentMethod %>">
                                    </div>
                                </div>
                                <div class="details">
                                    <hr>
                                    <div class="total d-flex justify-content-between">
                                        <h5>Order total : </h5>
                                        <h5>₹ <span id="subTotal"><%= order.orderTotal %></span></h5>
                                    </div>
                                </div>
                                <hr>
                                <div class="button mt-3">
                                    <p class="text-danger">Sorry, there is no refund policy available as of now.</p>
                                    <input type="hidden" id="orderId" value="<%= order._id %>">
                                    <button class="btn btn-warning w-100 d-none d-md-block" id="goToPayment">Re pay</button>
                                    <button class="btn btn-warning w-100 btn-sm d-block d-md-none" id="goToPayment">Re pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                        <div class="alert alert-info text-center" role="alert">No order found.</div>
                <% } %>
            </div>
        </div>
    </section>

    <footer class="text-light" id="footer">
        <div class="container-fluid">
            <div class="row p-5 d-flex justify-content-center">
                <div class="col-12">
                    <div class="footer-section d-flex align-items-center justify-content-center" style="height: 100%;">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img src="/static/images/Bg/desktop/Lapshoplogo.png" class="img-fluid w-25 h-25">
                            <div class="text text-center">
                                <h1>LapShop</h1>
                                <h6>Discover Your Digital World with Us.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- script for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- script for razorpay -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>

        document.getElementById('goToPayment').addEventListener("click", function () {

            let paymentMethod = document.getElementById("paymentMethod").value;
            let userAddressId = document.getElementById("userAddressId").value;
            let subTotal = document.getElementById('subTotal').innerText;
            let orderId = document.getElementById("orderId").value
            console.log("paymentMethod : ",paymentMethod)

            if (subTotal == 0) {
                Swal.fire({
                    icon: 'info',
                    title: "Empty cart",
                    text: "Your cart is empty!",
                    timer: 2000,
                    timerProgressBar: true,
                    showConfirmButton: false
                });
                return false;
            }

            const data = {
                paymentMethod: paymentMethod,
                totalAmount: subTotal,
                orderId: orderId
            };

            fetch('/rePaymentOrderConfirmation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                const contentType = response.headers.get('content-type');
                if (contentType && contentType.includes('application/json')) {
                    return response.json();
                } else {
                    window.location.href = `/login`;
                }
            })
            .then(data => {
                console.log("data : ",data)
                if (data.success) {
                    var options = {
                        key: "" + data.key_id + "",
                        amount: "" + data.amount + "",
                        currency: "INR",
                        name: "LapShop",
                        description: "Your laptop",
                        image: `/static/images/Bg/desktop/Lapshoplogo.png`,
                        order_id: "" + data.order_id + "",
                        handler: function (response) {
                            let redirectUrl = `/rePaymentPlaceOrder?amount=${data.amount}&orderId=${data.orderId}&paymentStatus=true`;
                            window.location.href = redirectUrl;
                        },
                        prefill: {
                            name: "" + data.name + "",
                            email: "" + data.email + "",
                            contact : "" + data.phone + ""
                        },
                        notes: {
                            address: "Razorpay Corporate Office",
                        },
                        theme: {
                            color: "#50c878",
                        },
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on("payment.failed", function (response) {    
                        let redirectUrl = `/rePaymentPlaceOrder?amount=${data.amount}&orderId=${data.orderId}&paymentStatus=false`;
                        window.location.href = redirectUrl;
                    });
                    rzp1.open();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: "Internal server error",
                        text: data.message,
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                }
            })
        })

    </script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
</body>

</html>