<!-- Admin navbar -->
<%-include("../userpartials/Navbar.ejs")%>

    <head>
        <!-- Css for the admin data edit form -->
        <link rel="stylesheet" href='/static/css/admin_dataEdit.css' type="text/css">
    </head>

    <body>
        <section class="view">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="main col-12 col-lg-10 m-3 mt-5">
                    <form action="/updateAddress/<%= userAddress._id %>" method="POST">
                        <div class="p-5">
                            <h4 class=" fs-3 mb-4" style="color: #0f1923;">Edit address</h4>
                            <% if(userAddress !="" ){ %>
                                <div class="input-box d-md-flex">
                                    <div class="col-12 col-md-6">
                                        <div class="mb-3 col-md-10">
                                            <label for="Name" class="form-label">Name</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                value="<%= userAddress.name %>" required>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="AddressLine" class="form-label">Address line</label>
                                            <textarea class="form-control" name="addressLine" id="addressLine" rows="1"
                                                required><%= userAddress.addressLine %></textarea>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="Phone" class="form-label">Phone</label>
                                            <input type="text" class="form-control" name="phone" id="phone"
                                                value="<%= userAddress.phone %>" required>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="City" class="form-label">City</label>
                                            <input type="text" class="form-control" name="city" id="city"
                                                value="<%= userAddress.city %>" required>
                                        </div>
                                        <div class="mt-5 d-md-block d-none">
                                            <button type="" class="btn btn-warning" onclick="goBack()">Cancel</button>
                                            <button type="submit" id="submitButton" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="mb-3 col-md-10">
                                            <label for="District" class="form-label">District</label>
                                            <input type="text" class="form-control" name="district" id="district"
                                                value="<%= userAddress.district %>" required>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="State" class="form-label">State</label>
                                            <input type="text" class="form-control" name="state" id="state"
                                                value="<%= userAddress.state %>" required>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="Pincode" class="form-label">Pincode</label>
                                            <input type="text" class="form-control" name="pincode" id="pincode"
                                                value="<%= userAddress.pincode %>" required>
                                        </div>
                                        <div class="mb-3 col-md-10">
                                            <label for="Country" class="form-label">Country</label>
                                            <input type="text" class="form-control" name="country" id="country"
                                                value="<%= userAddress.country %>" required>
                                        </div>
                                    </div>
                                    <div class="mt-4 d-block d-md-none">
                                        <button type="" class="btn btn-warning" onclick="goBack()">Cancel</button>
                                        <button type="submit" id="submitButton" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            //To submit the form
            document.getElementById('submitButton').addEventListener('click', handleSubmit);
    async function handleSubmit(event) {
        event.preventDefault();
        
        const form = document.querySelector('form');
        const formData = {
            name: document.getElementById('name').value,
            addressLine: document.getElementById('addressLine').value,
            phone: document.getElementById('phone').value,
            city: document.getElementById('city').value,
            district: document.getElementById('district').value,
            state: document.getElementById('state').value,
            pincode: document.getElementById('pincode').value,
            country: document.getElementById('country').value
        };
        
        try {
            const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            const data = await response.json();
            
            if (response.ok) {
                Swal.fire("Success!", 
                data.message, 
                "success"
                ).then(() => {
                    window.location.href = '/userProfile';
                });
            } else {
                Swal.fire("Error!", 
                data.message, "error"
                );
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire("Error!", 
            "An error occurred while processing your request.", "error"
            );
        }
    }
            
            
            //Cancel button goBack function
            function goBack() {
                window.location.href = '/profile'
            }
            </script>

<!-- Admin footer -->
        <%-include("../userpartials/footer.ejs")%>