<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>
<head>
    <!-- custom css for wallet page -->
    <link rel="stylesheet" href="/static/css/wallet.css" type="text/css">
</head>
    <section class="view">
        <div class="mt-5">
            <div class="container">
                <div class="row mb-3">

                    <div class="col-md-4 d-block d-md-none">
                        <div class="wallet-intro mb-4 d-flex justify-content-between align-items-center shadow p-3">
                            <h4 class="fw-bold mb-0">Your Wallet</h4>
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="left"
                              title="If you cancel or return an already paid order, the amount will be credited to your wallet. You can use this amount for future purchases.">
                              <i class="fas fa-question-circle text-muted"></i>
                            </a>
                        </div>
                        <div class="mt-4 shadow d-flex flex-column p-3 user-wallet-info">
                            <div class="user-info text-center mt-3">
                                <h5><%= userDetails.userName %></h5>
                                <h6 class="text-success">Verified user <i class="fa-solid fa-circle-check verified-icon"></i></h6>
                            </div>
                            <hr>
                            <div class="cred-deb d-flex flex-row justify-content-around">
                                <h6 class="mx-3">
                                    Credits count : 
                                    <% if(!creditCount){ %>
                                        0
                                    <% }else{ %>
                                        <%= creditCount %>
                                    <% } %>
                                </h6>
                                <h6 class="mx-3">
                                    Debits count : 
                                    <% if(!debitCount){ %>
                                        0
                                    <% }else{ %>
                                        <%= debitCount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-credit text-center text-md-start">
                                <h6 class="mx-3">Total amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalAmount){ %>
                                        0
                                    <% }else{ %>
                                        ₹ <%= totalAmount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-debit text-center text-md-start">
                                <h6 class="mx-3">Total credited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalCreditedAmount){ %>
                                        0
                                    <% }else{ %>
                                        ₹ <%= totalCreditedAmount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-amount text-center text-md-start">
                                <h6 class="mx-3">Total debited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalDebitedAmount){ %>
                                        0
                                    <% }else{ %>
                                        ₹ <%= totalDebitedAmount %>
                                    <% } %>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 mt-4 d-none d-md-block ">
                        <table class="table shadow">
                            <div class="wallet-intro mb-4 d-flex justify-content-between align-items-center shadow p-3">
                                <h4 class="fw-bold mb-0">Your Wallet</h4>
                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="If you cancel or return an already paid order, the amount will be credited to your wallet. You can use this amount for future purchases.">
                                    <i class="fas fa-question-circle text-muted"></i>
                                </a>
                            </div>
                            <thead>
                                <tr>
                                    <th class="col-2">Id</th>
                                    <th class="col-2">Type</th>
                                    <th class="col-2">Amount</th>
                                    <th class="col-2">Date</th>
                                    <th class="col-2">Time</th>
                                    <th class="col-2">Verified</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(wallet && wallet !== null){ %>
                                    <% wallet.forEach((data,index)=>{ %>
                                        <tr>
                                            <td>
                                                <%= data._id.toString().slice(-6) %>
                                            </td>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <%= data.type %>
                                                <% }else{ %>
                                                    <span class="col-2 text-warning"><%= data.type %></span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <span class="col-2 text-success"><%= data.amount %></span>
                                                <% }else{ %>
                                                    <span class="col-2 text-danger"><%= data.amount %></span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= data.updatedAt.toLocaleDateString() %>
                                            </td>
                                            <td>
                                                <%= data.updatedAt.toLocaleTimeString() %>
                                            </td>
                                            <td>
                                                <span class="col-2"><i class="fa-solid fa-circle-check verified-icon"></i></span>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% }else{ %>
                                    <div class="alert alert-warning d-flex align-items-center justify-content-center p-4 rounded"
                                        role="alert" style="background-color: #ffcc00; color: #333; font-size: 1.2rem;">
                                        <i class="fas fa-wallet me-3" style="font-size: 1.5rem;"></i>
                                        <div>
                                        <strong>Your wallest is empty!</strong><br>
                                            Happy Shopping With Us......
                                        </div>
                                    </div>
                                <% } %>
                            </tbody>
                        </table> 
                    </div>

                    <div class="col-md-8 mt-4 d-block d-md-none">
                        <table class="table shadow">
                            <thead>
                                <tr>
                                    <th class="col-4">Type</th>
                                    <th class="col-4">Amount</th>
                                    <th class="col-4">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(wallet && wallet !== null){ %>
                                    <% wallet.forEach((data,index)=>{ %>
                                        <tr>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <span class="col-4"><%= data.type %></span>
                                                <% }else{ %>
                                                    <span class="col-4 text-warning"><%= data.type %></span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <span class="col-4 text-success"><%= data.amount %></span>
                                                <% }else{ %>
                                                    <span class="col-4 text-danger"><%= data.amount %></span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <span class="col-4"><%= data.updatedAt.toLocaleDateString() %></span>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% }else{ %>
                                    <div class="alert alert-warning d-flex align-items-center justify-content-center p-4 rounded"
                                        role="alert" style="background-color: #ffcc00; color: #333; font-size: 1.2rem;">
                                        <i class="fas fa-wallet me-3" style="font-size: 1.5rem;"></i>
                                        <div>
                                        <strong>Your wallest is empty!</strong><br>
                                            Happy Shopping With Us......
                                        </div>
                                    </div>
                                <% } %>
                            </tbody>
                        </table> 
                    </div>

                    <div class="col-md-4 d-none d-md-block">
                        <div class="mt-4 shadow d-flex flex-column p-3 user-wallet-info">
                            <div class="user-info text-center mt-3">
                                <h5><%= userDetails.userName %></h5>
                                <h6 class="text-success">Verified user <i class="fa-solid fa-circle-check verified-icon"></i></h6>
                            </div>
                            <hr>
                            <div class="cred-deb d-flex flex-row justify-content-around">
                                <h6 class="mx-3">
                                    Credits count : 
                                    <% if(!creditCount){ %>
                                        0
                                    <% }else{ %>
                                        <%= creditCount %>
                                    <% } %>
                                </h6>
                                <h6 class="mx-3">
                                    Debits count : 
                                    <% if(!debitCount){ %>
                                        0
                                    <% }else{ %>
                                        <%= debitCount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-credit text-center text-md-start">
                                <h6 class="mx-3">Total amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalAmount){ %>
                                            0
                                    <% }else{ %>
                                        ₹ <%= totalAmount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-debit text-center text-md-start">
                                <h6 class="mx-3">Total credited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalCreditedAmount){ %>
                                        0
                                    <% }else{ %>
                                        ₹ <%= totalCreditedAmount %>
                                    <% } %>
                                </h6>
                            </div>
                            <hr>
                            <div class="user-wallet-total-amount text-center text-md-start">
                                <h6 class="mx-3">Total debited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                <h6 class="mx-3">
                                    <% if(!totalDebitedAmount){ %>
                                        0
                                    <% }else{ %>
                                        ₹ <%= totalDebitedAmount %>
                                    <% } %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        ////// Script for the data table \\\\\\
        $(document).ready(function(){
            $("table").DataTable({
                ordering : false
            })
        })
        
    </script>

    <!-- User footer -->
    <%-include("../userpartials/footer.ejs")%>