<!-- User navbar -->
<%-include("../userpartials/navbar.ejs")%>
<head>
    <!-- custom css for wallet page -->
    <link rel="stylesheet" href="/static/css/wallet.css" type="text/css">
</head>
    <section class="view">
        <div class="mt-5">
            <div class="container">
                <div>
                    <h3>Your wallet</h3>
                </div>
                <hr>
                <div class="row mb-3">
                    <% if(Array.isArray(wallet) && wallet.length > 0){ %>
                        <div class="col-md-4">
                            <div class="mt-4 shadow d-flex flex-column p-3">
                                <div class="user-info text-center mt-3">
                                    <h5><%= userDetails.userName %></h5>
                                    <h6 class="text-success">Verified user <i class="fa-solid fa-circle-check"></i></h6>
                                </div>
                                <hr>
                                <div class="cred-deb d-flex flex-row justify-content-around">
                                    <h6 class="mx-3">Credits count : <%= creditCount %></h6>
                                    <h6 class="mx-3">Debits count : <%= debitCount %></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-credit text-center text-md-start">
                                    <h6 class="mx-3">Total amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalAmount %></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-debit text-center text-md-start">
                                    <h6 class="mx-3">Total credited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalCreditedAmount%></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-amount text-center text-md-start">
                                    <h6 class="mx-3">Total debited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalDebitedAmount %></h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 mt-4">
                            <table class="table shadow table-striped">
                                <thead>
                                    <tr class="table-dark">
                                        <th class="col-2">Id</th>
                                        <th class="col-2">Type</th>
                                        <th class="col-2">Amount</th>
                                        <th class="col-2">Date</th>
                                        <th class="col-2">Time</th>
                                        <th class="col-2">Verified</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% wallet.forEach((data,index)=>{ %>
                                        <tr>
                                            <td>
                                                <h6 class="col-2"><%= data._id.toString().slice(-6) %></h6>
                                            </td>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <h6 class="col-2"><%= data.type %></h6>
                                                <% }else{ %>
                                                    <h6 class="col-2 text-warning"><%= data.type %></h6>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if(data.type === "credit"){ %>
                                                    <h6 class="col-2 text-success"><%= data.amount %></h6>
                                                <% }else{ %>
                                                    <h6 class="col-2 text-danger"><%= data.amount %></h6>
                                                <% } %>
                                            </td>
                                            <td>
                                                <h6 class="col-2"><%= data.updatedAt.toLocaleDateString() %></h6>
                                            </td>
                                            <td>
                                                <h6 class="col-2"><%= data.updatedAt.toLocaleTimeString() %></h6>
                                            </td>
                                            <td>
                                                <h6 class="col-2"><i class="fa-solid fa-circle-check"></i></h6>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>   
                        </div>
                    <% }else{ %>
                        <div class="alert alert-info text-center mt-4" role="alert">No wallet for you.</div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <script>

        ////// Script for the data table \\\\\\
        $(document).ready(function(){
            $("table").DataTable({
                ordering : false
            })
        })
        
    </script>

    <!-- User footer -->
    <%-include("../userpartials/footer.ejs")%>