<!-- User navbar -->
<%-include("../userpartials/Navbar.ejs")%>

    <head>
        <style>
            /*======> Very small devices <======*/
            @media (max-width: 576px) {
                .product-text span {
                    font-size: 12px;
                }

                .add-to-cart-btn {
                    width: 5rem;
                    font-size: 12px;
                }

                .delete-btn {
                    font-size: 12px;
                }
            }

            /*======> XS/SM devices <======*/
            @media (min-width: 576px) and (max-width: 767px) {
                .product-text span {
                    font-size: 14px;
                }
            }

            /*======> MD devices <======*/
            @media (min-width: 768px) and (max-width: 991px) {
                .product-img {
                    width: 90%;
                }
            }

            /*======> LG devices <======*/
            @media (min-width: 992px) and (max-width: 1199px) {
                .product-img {
                    width: 60%;
                }
            }


            /*======> XL devices <======*/
            @media (min-width: 1200px) {
                .product-img {
                    width: 50%;
                }
            }

            .font-semibold{
                font-weight: 600;
            }

            .heads{
                font-weight: 600;
            }
        </style>
    </head>
    <section class="view">
        <!-- Table wishlist for mediuam and above screen start -->
        <div class="cart-wrap mt-5">
            <div class="container">
                <div class="row">
                    <div class="">
                        <h3>Your wallet and history</h3>
                    </div>
                    <hr class="mt-3">
                    <% if(Array.isArray(wallet) && wallet.length > 0){ %>
                        <div class="wallet d-md-flex justify-content-md-between mb-4">
                            <div class="wallet-info left col-12 col-md-4 p-3 shadow">
                                <div class="user-info text-center mt-3">
                                    <h5><%= userDetails.userName %></h5>
                                    <h6 class="text-success">Verified user <i class="fa-solid fa-circle-check"></i></h6>
                                </div>
                                <hr>
                                <div class="cred-deb d-flex flex-row justify-content-around">
                                    <h6 class="mx-3">Credits count : <%= creditCount %></h6>
                                    <h6 class="mx-3">Debits count : <%= debitCount %></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-credit text-center text-md-start">
                                    <h6 class="mx-3">Total amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalAmount %></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-debit text-center text-md-start">
                                    <h6 class="mx-3">Total credited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalCreditedAmount%></h6>
                                </div>
                                <hr>
                                <div class="user-wallet-total-amount text-center text-md-start">
                                    <h6 class="mx-3">Total debited amount <i class="fa-solid fa-indian-rupee-sign"></i></h6>
                                    <h6 class="mx-3">₹ <%= totalDebitedAmount %></h6>
                                </div>
                            </div>
                            <div class="wallet-history right col-12 col-md-7 shadow p-4 mt-4 mt-md-0">
                                <div class="d-flex text-dark text-center">
                                    <h6 class="col-2">Index</h6>
                                    <h6 class="col-2">Type</h6>
                                    <h6 class="col-2">Amount</h6>
                                    <h6 class="col-2">Date</h6>
                                    <h6 class="col-2">Time</h6>
                                    <h6 class="col-2">Verified</h6>
                                </div>
                                <hr>
                                <% wallet.forEach((data,index)=>{ %>
                                    <div class="row p-2">
                                        <div class="text-dark text-center d-flex p-2">
                                            <h6 class="col-2"><%= index+1 %></h6>
                                            <% if(data.type === "credit"){ %>
                                                <h6 class="col-2"><%= data.type %></h6>
                                                <h6 class="col-2 text-success"><%= data.amount %></h6>
                                                <% }else{ %>
                                                    <h6 class="col-2 text-warning"><%= data.type %></h6>
                                                    <h6 class="col-2 text-danger"><%= data.amount %></h6>
                                            <% } %>
                                            <h6 class="col-2"><%= data.updatedAt.toLocaleDateString() %></h6>
                                            <h6 class="col-2"><%= data.updatedAt.toLocaleTimeString() %></h6>
                                            <h6 class="col-2"><i class="fa-solid fa-circle-check"></i></h6>
                                        </div>
                                        <hr>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                            <% }else{ %>
                        <div class="alert alert-info text-center mt-4" role="alert">No wallet for you.</div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Table wishlist for mediuam and above screen start -->

    </section>

    <!--  Script for sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

    </script>

    <!-- User footer -->
    <%-include("../userpartials/Footer.ejs")%>